In [19]:
from datetime import date
from datetime import datetime,date
import time
import pandas as pd
import numpy as np
import statistics as st
from dateutil import parser

In [20]:
def toDate(epoch_time):
    return datetime.fromtimestamp(epoch_time)

In [21]:
df=pd.read_json('/home/ubuntu/Documents/paphosWeather/paphosWeather.json',lines=True)

In [22]:
'''
temps=[]
row=len(df.index)
    
for i in (range(0,row)):
    temps.append(df["main"][i]["temp"])
'''

'\ntemps=[]\nrow=len(df.index)\n    \nfor i in (range(0,row)):\n    temps.append(df["main"][i]["temp"])\n'

In [23]:
df['temp']=df["main"].map(lambda x: x["temp"])

In [24]:
year=[]
month=[]
row=len(df.index)
for j in range(0,row):
    date=df["dt_iso"][j]
    onlyDate=date[:len(date)-19]
    year.append(onlyDate[0:4])
    month.append(int(onlyDate[5:7]))
    
    
month=np.asarray(month)
year=np.asarray(year)

In [25]:
#monthYear=pd.DataFrame({'year':[year], 'month':[month],'temperature':[temps]})

In [30]:
monthYear=pd.DataFrame(year,columns=['year'])
monthYear['month']=pd.DataFrame(month)
monthYear['temp']=df["temp"]

In [31]:
monthYear.astype('float').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181464 entries, 0 to 181463
Data columns (total 3 columns):
year     181464 non-null float64
month    181464 non-null float64
temp     181464 non-null float64
dtypes: float64(3)
memory usage: 4.2 MB

In [32]:
monthYear.groupby(['year','month']).mean()

                 temp
year month
2000 1      52.694879
     2      54.230733
     3      55.868320
     4      63.465083
     5      69.007849
     6      77.667389
     7      81.619516
     8      80.744073
     9      77.309153
     10     71.019274
     11     65.147972
     12     58.634516
2001 1      55.938172
     2      56.706696
     3      62.130820
     4      64.573417
     5      70.349503
     6      75.433444
     7      79.740040
     8      81.058038
     9      77.169236
     10     71.580349
     11     63.750722
     12     57.609099
2002 1      52.962648
     2      57.423527
     3      60.270766
     4      62.356194
     5      68.537339
     6      76.089792
...               ...
2018 4      65.918292
     5      73.741855
     6      77.180056
     7      81.176331
     8      81.464059
     9      79.206153
     10     73.283925
     11     66.248639
     12     58.992177
2019 1      54.960121
     2      56.354494
     3      57.787513
     4      61.829486
     5      70.178495
     6      76.741833
     7      79.923737
     8      81.314745
     9      77.742042
     10     73.786841
     11     68.130500
     12     58.899059
2020 1      54.004073
     2      54.448908
     3      57.525954
     4      61.282458
     5      70.514839
     6      72.942486
     7      80.011694
     8      80.672742
     9      81.726493

[249 rows x 1 columns]

Now answer the question.  Is there global warming in Paphos?