In [353]:
from datetime import date
from datetime import datetime,date
import time
import pandas as pd
import numpy as np
import statistics as st
from dateutil import parser

In [354]:
df=pd.read_json('/Users/walkerrowe/Documents/weather/pathosWeather.json')

In [355]:
s='2000-01-01 00:00:00 +0000 UTC'
datetime.strptime(s, '%Y-%m-%d %H:%M:%S %z %Z')

datetime.datetime(2000, 1, 1, 0, 0, tzinfo=datetime.timezone(datetime.timedelta(0), 'UTC'))

In [356]:
df['temp']=df["main"].map(lambda x: x["temp"])
df['temp_min']=df["main"].map(lambda x: x["temp_min"])
df['temp_max']=df["main"].map(lambda x: x["temp_max"])

In [357]:
def toDate(s):
    return datetime.strptime(s, '%Y-%m-%d %H:%M:%S %z %Z')

In [358]:
df['date']=df['dt_iso'].map(lambda x: toDate(x))
df['year']=df['date'].map(lambda x: x.year)
df['month']=df['date'].map(lambda x: x.month)
df['day']=df['date'].map(lambda x: x.day)

In [359]:
df['temp_min']=df['temp_min'].map(lambda x: np.round(x,2))
df['temp_max']=df['temp_max'].map(lambda x: np.round(x,2))

In [360]:
def isNull(n):
    if n is np.nan:
        return 0
    else:
        return 1

In [361]:
df['raining']=df['rain'].map(lambda x : isNull(x))

In [362]:
weather=df[['year', 'month', 'day','raining']].loc[(df['month'] == 1) & (df['year'] == 2010)].groupby(['year','month','day']).mean()

In [363]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(weather)

                 raining
year month day
2010 1     1    0.000000
           2    0.000000
           3    0.000000
           4    0.000000
           5    0.000000
           6    0.000000
           7    0.000000
           8    0.000000
           9    0.000000
           10   0.000000
           11   0.000000
           12   0.000000
           13   0.166667
           14   0.166667
           15   0.000000
           16   0.000000
           17   0.000000
           18   0.708333
           19   0.041667
           20   0.291667
           21   0.083333
           22   0.041667
           23   0.166667
           24   0.250000
           25   0.041667
           26   0.000000
           27   0.000000
           28   0.083333
           29   0.166667
           30   0.000000
           31   0.000000

In [312]:
df[['year', 'month', 'day','clouds']].loc[(df['month'] == 6) & (df['year'] == 2010)]

       year  month   day  clouds
91296  2010      6  2010  Clouds
91297  2010      6  2010   Clear
91298  2010      6  2010   Clear
91299  2010      6  2010  Clouds
91300  2010      6  2010  Clouds
...     ...    ...   ...     ...
92011  2010      6  2010  Clouds
92012  2010      6  2010  Clouds
92013  2010      6  2010  Clouds
92014  2010      6  2010  Clouds
92015  2010      6  2010  Clouds

[720 rows x 4 columns]

In [364]:
df[['year', 'month', 'day','raining']].loc[(df['month'] == 1) & (df['year'] == 2010)]

       year  month  day  raining
87672  2010      1    1        0
87673  2010      1    1        0
87674  2010      1    1        0
87675  2010      1    1        0
87676  2010      1    1        0
...     ...    ...  ...      ...
88411  2010      1   31        0
88412  2010      1   31        0
88413  2010      1   31        0
88414  2010      1   31        0
88415  2010      1   31        0

[744 rows x 4 columns]

In [421]:
rainyDays=df[['year','month', 'raining']].loc[(df['raining'] == 1) & (df['month'].isin([12,1,2,3,4]))].groupby(['year','month']).count()

In [420]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(rainyDays)

            raining
year month
2000 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2001 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2002 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2003 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2004 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2005 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2006 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2007 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2008 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2009 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2010 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2011 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2012 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2013 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2014 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2015 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2016 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2017 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2018 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2019 1          1.0
     2          1.0
     3          1.0
     4          1.0
     12         1.0
2020 1          1.0
     2          1.0
     3          1.0
     4          1.0

In [427]:
rainyMonths=df[['month', 'raining']].loc[(df['raining'] == 1) & (df['month'].isin([12,1,2,3,4]))].groupby(['month']).count()

In [428]:
print(rainyMonths)

       raining
month
1         1404
2          910
3          528
4          360
12        1161