<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/ml/one_hot_encode_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Diana's example

import pandas as pd

url = "https://raw.githubusercontent.com/Diana241099/Python/main/USA_Housing.csv"
df = pd.read_csv(url)
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [2]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [4]:
import re

# Function to extract the 5-digit zip code
def extract_zip(address):
    match = re.search(r'\b\d{5}\b', address)  # Look for a 5-digit number
    return match.group(0) if match else None  # Return the zip code or None if not found

# Apply the function using map()
df['zipcode'] = df['Address'].map(extract_zip)

# Encode the zip codes as one-hot vectors
one_hot = pd.get_dummies(df['zipcode'], prefix='Zip',dtype=int)


# make all number containing columns numeric
df = df.apply(pd.to_numeric, errors='coerce')

# Combine the one-hot encoded columns with the original DataFrame
df = pd.concat([df, one_hot], axis=1)

numeric_df = df.select_dtypes(include='number')

In [5]:
X=numeric_df.dropna(axis=1)


X.values.shape

(5000, 4895)

In [10]:


import matplotlib.pyplot as plt
from sklearn import linear_model
import numpy as np

from sklearn.metrics import mean_squared_error, r2_score

y = df['Price'].values

reg = linear_model.LinearRegression(fit_intercept=True)

reg.fit(X,y)


print("coefficient ", reg.coef_[0])
print("intercept ", reg.intercept_)

coefficient  3.588317840984221e-14
intercept  -4.190951585769653e-09

In [12]:

preds = reg.predict(X)



mse = mean_squared_error(y, preds)

r2 = r2_score(y, preds)

# Print metrics
print(f"Mean Squared Error (MSE): {mse:.4f}")

print(f"R-squared (R²): {r2:.4f}")

Mean Squared Error (MSE): 0.0000
R-squared (R²): 1.0000

HistGradientBoostingRegressor

In [13]:
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import HistGradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score



# Step 2: Split the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Step 3: Initialize the HistGradientBoostingRegressor model
model = HistGradientBoostingRegressor(
    learning_rate=0.1,
    max_iter=100,
    max_depth=None,
    random_state=42
)

# Step 4: Train the model on the training data
model.fit(X_train, y_train)

# Step 5: Make predictions on the test data
y_pred = model.predict(X_test)

# Step 6: Evaluate the model's performance
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse:.3f}")
print(f"R^2 Score: {r2:.3f}")

Mean Squared Error (MSE): 147109424.195
R^2 Score: 0.999