<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/ml/one_hot_encode_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
# Diana's example

import pandas as pd

url = "https://raw.githubusercontent.com/Diana241099/Python/main/USA_Housing.csv"
df = pd.read_csv(url)
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.68286,7.00919,4.09000,23086.80050,1059033.55787,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.00290,6.73082,3.09000,40173.07217,1505890.91485,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.86589,8.51273,5.13000,36882.15940,1058987.98788,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.18824,5.58673,3.26000,34310.24283,1260616.80663,USS Barnett\nFPO AP 44820
4,59982.19723,5.04055,7.83939,4.23000,26354.10947,630943.48934,USNS Raymond\nFPO AE 09386

In [73]:
df.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population', 'Price', 'Address'],
      dtype='object')

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [80]:
import re

# Function to extract the 5-digit zip code
def extract_zip(address):
    match = re.search(r'\b\d{5}\b', address)  # Look for a 5-digit number
    return match.group(0) if match else None  # Return the zip code or None if not found

# Apply the function using map()
df['zipcode'] = df['Address'].map(extract_zip)

# Encode the zip codes as one-hot vectors
one_hot = pd.get_dummies(df['zipcode'], prefix='Zip',dtype=int)


# make all number containing columns numeric
df = df.apply(pd.to_numeric, errors='coerce')

# Combine the one-hot encoded columns with the original DataFrame
df = pd.concat([df, one_hot], axis=1)

numeric_df = df.select_dtypes(include='number')

(5000, 4896)

In [82]:
numeric_df=numeric_df.dropna(axis=1)


numeric_df.values.shape

(5000, 4895)

In [ ]:

reg = linear_model.LinearRegression(fit_intercept=True)

reg.fit(numeric_df,y)