<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/spark/2025_02_28_diana_pandas_to_spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
# don't need this for spark

df = pd.read_csv("https://raw.githubusercontent.com/Dianaepikson/HypatiaAcademy/refs/heads/master/numpy/webscrape.csv")

df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

# Next couple of weeks

* use Apache Spark

* data cleansing using Pandas

* use a 5 day Kaggle competition

#IBM

mainframe


SAP

In [ ]:
# Print column names
print(df.columns)

Index(['Rank', 'Name', 'Industry', 'Revenue (USD millions)', 'Revenue growth',
       'Employees', 'Headquarters'],
      dtype='object')

In [5]:
!wget https://raw.githubusercontent.com/Dianaepikson/HypatiaAcademy/refs/heads/master/numpy/webscrape.csv

--2025-02-28 16:06:27--  https://raw.githubusercontent.com/Dianaepikson/HypatiaAcademy/refs/heads/master/numpy/webscrape.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8038 (7.8K) [text/plain]
Saving to: â€˜webscrape.csvâ€™

webscrape.csv       100%[===================>]   7.85K  --.-KB/s    in 0s

2025-02-28 16:06:28 (71.0 MB/s) - â€˜webscrape.csvâ€™ saved [8038/8038]

In [49]:
!ls

revenue_sum  sample_data  webscrape.csv

In [7]:
!head webscrape.csv

Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
2,Amazon,Retail and Cloud Computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
3,Exxon Mobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
6,CVS Health,Healthcare,"322,467",10.4%,"259,500","Woonsocket, Rhode Island"
7,Berkshire Hathaway,Conglomerate,"302,089",9.4%,"383,000","Omaha, Nebraska"
8,Alphabet,Technology,"282,836",9.8%,"156,000","Mountain View, California"
9,McKesson Corporation,Health,"276,711",4.8%,"48,500","Irving, Texas"

In [10]:
!wc -l webscrape.csv

101 webscrape.csv

In [28]:

from pyspark.sql import SparkSession

file="webscrape.csv"


# df is a spark dataframe
# is not a pandas dataframe

spark = SparkSession.builder.appName("youtube").getOrCreate()

df = spark.read.csv(file, sep=',', header=True,   inferSchema=True, encoding="UTF-8" )

df.printSchema()

root
 |-- Rank: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Industry: string (nullable = true)
 |-- Revenue (USD millions): string (nullable = true)
 |-- Revenue growth: string (nullable = true)
 |-- Employees: string (nullable = true)
 |-- Headquarters: string (nullable = true)

In [29]:
df.show()

+----+--------------------+--------------------+----------------------+--------------+---------+--------------------+
|Rank|                Name|            Industry|Revenue (USD millions)|Revenue growth|Employees|        Headquarters|
+----+--------------------+--------------------+----------------------+--------------+---------+--------------------+
|   1|             Walmart|              Retail|               611,289|          6.7%|2,100,000|Bentonville, Arka...|
|   2|              Amazon|Retail and Cloud ...|               513,983|          9.4%|1,540,000| Seattle, Washington|
|   3|         Exxon Mobil|  Petroleum industry|               413,680|         44.8%|   62,000|       Spring, Texas|
|   4|               Apple|Electronics industry|               394,328|          7.8%|  164,000|Cupertino, Califo...|
|   5|  UnitedHealth Group|          Healthcare|               324,162|         12.7%|  400,000|Minnetonka, Minne...|
|   6|          CVS Health|          Healthcare|               322,467|         10.4%|  259,500|Woonsocket, Rhode...|
|   7|  Berkshire Hathaway|        Conglomerate|               302,089|          9.4%|  383,000|     Omaha, Nebraska|
|   8|            Alphabet|          Technology|               282,836|          9.8%|  156,000|Mountain View, Ca...|
|   9|McKesson Corporation|              Health|               276,711|          4.8%|   48,500|       Irving, Texas|
|  10| Chevron Corporation|  Petroleum industry|               246,252|         51.6%|   43,846|San Ramon, Califo...|
|  11|   AmerisourceBergen|Pharmaceutical in...|               238,587|         11.5%|   41,500|Chesterbrook, Pen...|
|  12|              Costco|              Retail|               226,954|         15.8%|  304,000|Issaquah, Washington|
|  13|           Microsoft|          Technology|               198,270|         18.0%|  221,000| Redmond, Washington|
|  14|     Cardinal Health|          Healthcare|               181,364|         11.6%|   46,035|        Dublin, Ohio|
|  15|               Cigna|    Health Insurance|               180,516|          3.7%|   70,231|Bloomfield, Conne...|
|  16|  Marathon Petroleum|  Petroleum industry|               180,012|         27.6%|   17,800|       Findlay, Ohio|
|  17|         Phillips 66|  Petroleum industry|               175,702|         53.0%|   13,000|      Houston, Texas|
|  18|       Valero Energy|  Petroleum industry|               171,189|         58.0%|    9,743|  San Antonio, Texas|
|  19|  Ford Motor Company| Automotive industry|               158,057|         15.9%|  173,000|  Dearborn, Michigan|
|  20|      The Home Depot|              Retail|               157,403|          4.1%|  471,600|    Atlanta, Georgia|
+----+--------------------+--------------------+----------------------+--------------+---------+--------------------+
only showing top 20 rows

#Why use Spark

it lets you use SQL

very quick very easy to look at data using SQL

In [32]:
df.createOrReplaceTempView("companies")

In [13]:
df.cache()

DataFrame[Rank: int, Name: string, Industry: string, Revenue (USD millions): string, Revenue growth: string, Employees: string, Headquarters: string]

In [27]:
df.show()

+----+--------------------+--------------------+----------------------+--------------+---------+--------------------+
|Rank|                Name|            Industry|Revenue (USD millions)|Revenue growth|Employees|        Headquarters|
+----+--------------------+--------------------+----------------------+--------------+---------+--------------------+
|   1|             Walmart|              Retail|               611,289|          6.7%|2,100,000|Bentonville, Arka...|
|   2|              Amazon|Retail and Cloud ...|               513,983|          9.4%|1,540,000| Seattle, Washington|
|   3|         Exxon Mobil|  Petroleum industry|               413,680|         44.8%|   62,000|       Spring, Texas|
|   4|               Apple|Electronics industry|               394,328|          7.8%|  164,000|Cupertino, Califo...|
|   5|  UnitedHealth Group|          Healthcare|               324,162|         12.7%|  400,000|Minnetonka, Minne...|
|   6|          CVS Health|          Healthcare|               322,467|         10.4%|  259,500|Woonsocket, Rhode...|
|   7|  Berkshire Hathaway|        Conglomerate|               302,089|          9.4%|  383,000|     Omaha, Nebraska|
|   8|            Alphabet|          Technology|               282,836|          9.8%|  156,000|Mountain View, Ca...|
|   9|McKesson Corporation|              Health|               276,711|          4.8%|   48,500|       Irving, Texas|
|  10| Chevron Corporation|  Petroleum industry|               246,252|         51.6%|   43,846|San Ramon, Califo...|
|  11|   AmerisourceBergen|Pharmaceutical in...|               238,587|         11.5%|   41,500|Chesterbrook, Pen...|
|  12|              Costco|              Retail|               226,954|         15.8%|  304,000|Issaquah, Washington|
|  13|           Microsoft|          Technology|               198,270|         18.0%|  221,000| Redmond, Washington|
|  14|     Cardinal Health|          Healthcare|               181,364|         11.6%|   46,035|        Dublin, Ohio|
|  15|               Cigna|    Health Insurance|               180,516|          3.7%|   70,231|Bloomfield, Conne...|
|  16|  Marathon Petroleum|  Petroleum industry|               180,012|         27.6%|   17,800|       Findlay, Ohio|
|  17|         Phillips 66|  Petroleum industry|               175,702|         53.0%|   13,000|      Houston, Texas|
|  18|       Valero Energy|  Petroleum industry|               171,189|         58.0%|    9,743|  San Antonio, Texas|
|  19|  Ford Motor Company| Automotive industry|               158,057|         15.9%|  173,000|  Dearborn, Michigan|
|  20|      The Home Depot|              Retail|               157,403|          4.1%|  471,600|    Atlanta, Georgia|
+----+--------------------+--------------------+----------------------+--------------+---------+--------------------+
only showing top 20 rows

In [ ]:
# Spark is an in-memory database

# with say Oracle database.

# it will look on the disk drive and get the data

# data is in-memory

# so it goes faster

# SSDs solid state no movie parts

# magentic disk.  disk controller

In [30]:

from pyspark.sql.functions import regexp_replace, col


# cast means convert one type to another
# int
# long for numbers bigger than 2 billion




df = df.withColumnRenamed("Revenue (USD millions)", "revenue")
df = df.withColumnRenamed("employees", "employees")

df = df.withColumnRenamed("Revenue growth", "growth")

df = df.withColumn("revenue", regexp_replace(col("revenue"), ",", "").cast("int"))

df = df.withColumn("employees", regexp_replace(col("employees"), ",", "").cast("int"))


df = df.withColumn("growth", regexp_replace(col("growth"), "%", "").cast("float"))

df = df.withColumn("growth", col("growth")/100)

In [33]:


sql="describe companies"

spark.sql(sql).show()

+------------+---------+-------+
|    col_name|data_type|comment|
+------------+---------+-------+
|        Rank|      int|   NULL|
|        Name|   string|   NULL|
|    Industry|   string|   NULL|
|     revenue|      int|   NULL|
|      growth|   double|   NULL|
|   employees|      int|   NULL|
|Headquarters|   string|   NULL|
+------------+---------+-------+

In [34]:
sql="select * from companies"

spark.sql(sql).show()

+----+--------------------+--------------------+-------+--------------------+---------+--------------------+
|Rank|                Name|            Industry|revenue|              growth|employees|        Headquarters|
+----+--------------------+--------------------+-------+--------------------+---------+--------------------+
|   1|             Walmart|              Retail| 611289| 0.06699999809265136|  2100000|Bentonville, Arka...|
|   2|              Amazon|Retail and Cloud ...| 513983| 0.09399999618530273|  1540000| Seattle, Washington|
|   3|         Exxon Mobil|  Petroleum industry| 413680| 0.44799999237060545|    62000|       Spring, Texas|
|   4|               Apple|Electronics industry| 394328| 0.07800000190734863|   164000|Cupertino, Califo...|
|   5|  UnitedHealth Group|          Healthcare| 324162| 0.12699999809265136|   400000|Minnetonka, Minne...|
|   6|          CVS Health|          Healthcare| 322467| 0.10399999618530273|   259500|Woonsocket, Rhode...|
|   7|  Berkshire Hathaway|        Conglomerate| 302089| 0.09399999618530273|   383000|     Omaha, Nebraska|
|   8|            Alphabet|          Technology| 282836| 0.09800000190734863|   156000|Mountain View, Ca...|
|   9|McKesson Corporation|              Health| 276711|0.048000001907348634|    48500|       Irving, Texas|
|  10| Chevron Corporation|  Petroleum industry| 246252|  0.5159999847412109|    43846|San Ramon, Califo...|
|  11|   AmerisourceBergen|Pharmaceutical in...| 238587|               0.115|    41500|Chesterbrook, Pen...|
|  12|              Costco|              Retail| 226954| 0.15800000190734864|   304000|Issaquah, Washington|
|  13|           Microsoft|          Technology| 198270|                0.18|   221000| Redmond, Washington|
|  14|     Cardinal Health|          Healthcare| 181364| 0.11600000381469727|    46035|        Dublin, Ohio|
|  15|               Cigna|    Health Insurance| 180516| 0.03700000047683716|    70231|Bloomfield, Conne...|
|  16|  Marathon Petroleum|  Petroleum industry| 180012| 0.27600000381469725|    17800|       Findlay, Ohio|
|  17|         Phillips 66|  Petroleum industry| 175702|                0.53|    13000|      Houston, Texas|
|  18|       Valero Energy|  Petroleum industry| 171189|                0.58|     9743|  San Antonio, Texas|
|  19|  Ford Motor Company| Automotive industry| 158057| 0.15899999618530272|   173000|  Dearborn, Michigan|
|  20|      The Home Depot|              Retail| 157403| 0.04099999904632568|   471600|    Atlanta, Georgia|
+----+--------------------+--------------------+-------+--------------------+---------+--------------------+
only showing top 20 rows

In [36]:

sql='''
select Name , revenue from companies
where revenue > 394328
'''

spark.sql(sql).show()

+-----------+-------+
|       Name|revenue|
+-----------+-------+
|    Walmart| 611289|
|     Amazon| 513983|
|Exxon Mobil| 413680|
+-----------+-------+

In [50]:

sql='''
select * from companies

'''

spark.sql(sql).show()

+----+--------------------+--------------------+-------+--------------------+---------+--------------------+
|Rank|                Name|            Industry|revenue|              growth|employees|        Headquarters|
+----+--------------------+--------------------+-------+--------------------+---------+--------------------+
|   1|             Walmart|              Retail| 611289| 0.06699999809265136|  2100000|Bentonville, Arka...|
|   2|              Amazon|Retail and Cloud ...| 513983| 0.09399999618530273|  1540000| Seattle, Washington|
|   3|         Exxon Mobil|  Petroleum industry| 413680| 0.44799999237060545|    62000|       Spring, Texas|
|   4|               Apple|Electronics industry| 394328| 0.07800000190734863|   164000|Cupertino, Califo...|
|   5|  UnitedHealth Group|          Healthcare| 324162| 0.12699999809265136|   400000|Minnetonka, Minne...|
|   6|          CVS Health|          Healthcare| 322467| 0.10399999618530273|   259500|Woonsocket, Rhode...|
|   7|  Berkshire Hathaway|        Conglomerate| 302089| 0.09399999618530273|   383000|     Omaha, Nebraska|
|   8|            Alphabet|          Technology| 282836| 0.09800000190734863|   156000|Mountain View, Ca...|
|   9|McKesson Corporation|              Health| 276711|0.048000001907348634|    48500|       Irving, Texas|
|  10| Chevron Corporation|  Petroleum industry| 246252|  0.5159999847412109|    43846|San Ramon, Califo...|
|  11|   AmerisourceBergen|Pharmaceutical in...| 238587|               0.115|    41500|Chesterbrook, Pen...|
|  12|              Costco|              Retail| 226954| 0.15800000190734864|   304000|Issaquah, Washington|
|  13|           Microsoft|          Technology| 198270|                0.18|   221000| Redmond, Washington|
|  14|     Cardinal Health|          Healthcare| 181364| 0.11600000381469727|    46035|        Dublin, Ohio|
|  15|               Cigna|    Health Insurance| 180516| 0.03700000047683716|    70231|Bloomfield, Conne...|
|  16|  Marathon Petroleum|  Petroleum industry| 180012| 0.27600000381469725|    17800|       Findlay, Ohio|
|  17|         Phillips 66|  Petroleum industry| 175702|                0.53|    13000|      Houston, Texas|
|  18|       Valero Energy|  Petroleum industry| 171189|                0.58|     9743|  San Antonio, Texas|
|  19|  Ford Motor Company| Automotive industry| 158057| 0.15899999618530272|   173000|  Dearborn, Michigan|
|  20|      The Home Depot|              Retail| 157403| 0.04099999904632568|   471600|    Atlanta, Georgia|
+----+--------------------+--------------------+-------+--------------------+---------+--------------------+
only showing top 20 rows

In [40]:
sql='''
select industry, sum(revenue) as revenue_sum from companies
group by industry
order by revenue_sum desc
'''

# run this sql and create dataframe total
totals=spark.sql(sql)
totals.show()

+--------------------+-----------+
|            industry|revenue_sum|
+--------------------+-----------+
|              Retail|    1578909|
|  Petroleum industry|    1521225|
|          Healthcare|    1189368|
|          Technology|     930783|
|          Financials|     927262|
|Pharmaceutical in...|     730059|
|        Conglomerate|     566459|
|Retail and Cloud ...|     513983|
|Electronics industry|     394328|
|  Telecommunications|     312284|
|              Health|     276711|
|    Health Insurance|     273386|
|           Insurance|     265861|
|      Transportation|     193850|
|       Food industry|     168788|
| Automotive industry|     158057|
|          Automotive|     156735|
|  Financial services|     154792|
|             Airline|     144508|
|           Financial|     107075|
+--------------------+-----------+
only showing top 20 rows

In [42]:
# expensive

totals.coalesce(1).write.csv("revenue_sum", header=True)

In [44]:
!ls revenue_sum

part-00000-80b8587c-8040-478d-a731-6a960e39aea0-c000.csv  _SUCCESS

In [45]:
# when you copy spark, hadoop other Big Data data to a disk drive you usually Parquet

!file revenue_sum/part-00000-80b8587c-8040-478d-a731-6a960e39aea0-c000.csv

revenue_sum/part-00000-80b8587c-8040-478d-a731-6a960e39aea0-c000.csv: CSV text

In [48]:
!head revenue_sum/part-00000-80b8587c-8040-478d-a731-6a960e39aea0-c000.csv

industry,revenue_sum
Retail,1578909
Petroleum industry,1521225
Healthcare,1189368
Technology,930783
Financials,927262
Pharmaceutical industry,730059
Conglomerate,566459
Retail and Cloud Computing,513983
Electronics industry,394328

# Homework


1.  go get the data you use to make a pandas dataframe and create a Spark Dataframe

2. convert anything that's not a number to number

3.  do some aggregate operation

select count(*)
select count(column_name)

select sum(), averagee


4. do a group by and order and logical operation in SQL like >