<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/spark/Imdb_spark_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

source:  https://datasets.imdbws.com/

In [1]:
!wget https://datasets.imdbws.com/title.ratings.tsv.gz

--2025-02-24 07:58:00--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.239.69.2, 18.239.69.88, 18.239.69.122, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.239.69.2|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7735068 (7.4M) [binary/octet-stream]
Saving to: ‘title.ratings.tsv.gz’

title.ratings.tsv.g 100%[===================>]   7.38M  --.-KB/s    in 0.07s

2025-02-24 07:58:00 (105 MB/s) - ‘title.ratings.tsv.gz’ saved [7735068/7735068]

In [48]:
!gunzip title.ratings.tsv.gz

gzip: title.ratings.tsv.gz: No such file or directory

In [49]:
!head title.ratings.tsv

tconst	averageRating	numVotes
tt0000001	5.7	2133
tt0000002	5.5	289
tt0000003	6.4	2169
tt0000004	5.3	184
tt0000005	6.2	2897
tt0000006	5.0	208
tt0000007	5.3	901
tt0000008	5.4	2280
tt0000009	5.3	221

In [7]:
!head title.ratings.tsv > debug.tsv

In [26]:
!tail title.ratings.tsv  > debug.tsv

In [28]:
!cat title.ratings.tsv | egrep ".*([7-9])(\.).*" > good.rating.tsv

In [35]:
! wc -l *.tsv

      10 debug.tsv
  858793 good.rating.tsv
 1537374 title.ratings.tsv
 2396177 total

In [29]:
!head good.rating.tsv

tt0000012	7.4	13375
tt0000014	7.1	6103
tt0000060	7.1	93
tt0000211	7.4	5017
tt0000310	7.4	36
tt0000359	7.1	3356
tt0000361	7.4	27
tt0000417	8.1	58011
tt0000439	7.2	21753
tt0000441	7.2	12

In [51]:
from pyspark.sql.functions import col
from pyspark.sql import SparkSession

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DecimalType

# tconst	averageRating	numVotes
schema = StructType([
    StructField("tconst", StringType(), True),
    StructField("averageRating", DecimalType(1, 1), True),
    StructField("numVotes", IntegerType(), True)
])

spark = SparkSession.builder.appName("IMDB Ratings").getOrCreate()


df = spark.read.csv('good.rating.tsv', sep='\t', header=True,  schema=schema)

In [52]:
df.show()

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000014|         NULL|    6103|
|tt0000060|         NULL|      93|
|tt0000211|         NULL|    5017|
|tt0000310|         NULL|      36|
|tt0000359|         NULL|    3356|
|tt0000361|         NULL|      27|
|tt0000417|         NULL|   58011|
|tt0000439|         NULL|   21753|
|tt0000441|         NULL|      12|
|tt0000465|         NULL|    1968|
|tt0000499|         NULL|    4213|
|tt0000578|         NULL|      29|
|tt0000606|         NULL|      18|
|tt0000618|         NULL|      16|
|tt0000650|         NULL|      23|
|tt0000661|         NULL|      24|
|tt0000738|         NULL|      22|
|tt0000746|         NULL|      19|
|tt0000775|         NULL|      11|
|tt0000778|         NULL|      16|
+---------+-------------+--------+
only showing top 20 rows

In [ ]:
#good_titles = df.filter(col('averageRating') >= 7.0)

#good_titles.show()

#save the filtered data to a new file, overwrite if the file already exists
#good_titles.write.csv('good.tsv', sep='\t', header=True, mode='overwrite')

In [ ]:

#from pyspark.sql import SparkSession

# Initialize SparkSession
#spark = SparkSession.builder \
#    .appName("netflix") \
#    .getOrCreate()

##df = spark.read.option("ratings", "\t").option("header", True).csv("title.ratings.tsv")

# Display the DataFrame


#df = spark.read.csv(
#    "good.tsv",
#    header=True,        # Use the first row as column names
#    inferSchema=True,   # Automatically infer data types
#    sep="\t",            # Specify delimiter (default is ',')
#    encoding="UTF-8"    # Handle encoding
#)

#df.show()

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000012|          7.4|   13371|
|tt0000014|          7.1|    6099|
|tt0000060|          7.1|      93|
|tt0000211|          7.4|    5015|
|tt0000310|          7.4|      36|
|tt0000359|          7.1|    3353|
|tt0000361|          7.4|      27|
|tt0000417|          8.1|   58007|
|tt0000439|          7.2|   21748|
|tt0000441|          7.2|      12|
|tt0000465|          7.3|    1967|
|tt0000499|          7.5|    4212|
|tt0000578|          7.2|      29|
|tt0000606|          7.4|      18|
|tt0000618|          8.9|      16|
|tt0000650|          7.4|      23|
|tt0000661|          7.8|      24|
|tt0000738|          7.9|      22|
|tt0000746|          7.8|      19|
|tt0000775|          7.5|      11|
+---------+-------------+--------+
only showing top 20 rows

In [ ]:
!head title.ratings.tsv

tconst	averageRating	numVotes
tt0000001	5.7	2133
tt0000002	5.5	289
tt0000003	6.4	2169
tt0000004	5.3	184
tt0000005	6.2	2896
tt0000006	5.0	208
tt0000007	5.3	901
tt0000008	5.4	2280
tt0000009	5.3	220

In [53]:
df.createOrReplaceTempView("ratings")

In [54]:

sql = '''
describe ratings

'''

result = spark.sql(sql)
result.show()

+-------------+------------+-------+
|     col_name|   data_type|comment|
+-------------+------------+-------+
|       tconst|      string|   NULL|
|averageRating|decimal(1,1)|   NULL|
|     numVotes|         int|   NULL|
+-------------+------------+-------+

In [55]:
sql = '''
select * from ratings

'''

result = spark.sql(sql)
result.show()

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000014|         NULL|    6103|
|tt0000060|         NULL|      93|
|tt0000211|         NULL|    5017|
|tt0000310|         NULL|      36|
|tt0000359|         NULL|    3356|
|tt0000361|         NULL|      27|
|tt0000417|         NULL|   58011|
|tt0000439|         NULL|   21753|
|tt0000441|         NULL|      12|
|tt0000465|         NULL|    1968|
|tt0000499|         NULL|    4213|
|tt0000578|         NULL|      29|
|tt0000606|         NULL|      18|
|tt0000618|         NULL|      16|
|tt0000650|         NULL|      23|
|tt0000661|         NULL|      24|
|tt0000738|         NULL|      22|
|tt0000746|         NULL|      19|
|tt0000775|         NULL|      11|
|tt0000778|         NULL|      16|
+---------+-------------+--------+
only showing top 20 rows

In [39]:
!wget https://datasets.imdbws.com/title.akas.tsv.gz

--2025-02-24 08:23:58--  https://datasets.imdbws.com/title.akas.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.239.69.2, 18.239.69.88, 18.239.69.122, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.239.69.2|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 446128769 (425M) [binary/octet-stream]
Saving to: ‘title.akas.tsv.gz’

title.akas.tsv.gz   100%[===================>] 425.46M  48.7MB/s    in 5.9s

2025-02-24 08:24:04 (71.6 MB/s) - ‘title.akas.tsv.gz’ saved [446128769/446128769]

In [44]:
!gunzip title.akas.tsv.gz

debug.tsv  good.rating.tsv  sample_data  title.akas.tsv  title.ratings.tsv

In [45]:
basics = spark.read.csv(
    "title.akas.tsv",
    header=True,        # Use the first row as column names
    inferSchema=True,   # Automatically infer data types
    sep="\t",            # Specify delimiter (default is ',')
    encoding="UTF-8"    # Handle encoding
)

basics.show()

+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
|  titleId|ordering|               title|region|language|      types|          attributes|isOriginalTitle|
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
|tt0000001|       1|          Carmencita|    \N|      \N|   original|                  \N|              1|
|tt0000001|       2|          Carmencita|    DE|      \N|         \N|       literal title|              0|
|tt0000001|       3|          Carmencita|    US|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       4|Carmencita - span...|    HU|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       5|          Καρμενσίτα|    GR|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       6|          Карменсита|    RU|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       7|          Карменсіта|    UA|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       8|      カルメンチータ|    JP|      ja|imdbDisplay|                  \N|              0|
|tt0000002|       1|Le clown et ses c...|    \N|      \N|   original|                  \N|              1|
|tt0000002|       2|   A bohóc és kutyái|    HU|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       3|Clovnul si cainii...|    RO|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       4|Der Clown und sei...|    DE|      \N|         \N|       literal title|              0|
|tt0000002|       5|Le clown et ses c...|    FR|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       6|The Clown and His...|    US|      \N|         \N|literal English t...|              0|
|tt0000002|       7|  Клоун и его собаки|    RU|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       8|          道化師と犬|    JP|      ja|imdbDisplay|                  \N|              0|
|tt0000003|       1|      Pauvre Pierrot|    \N|      \N|   original|                  \N|              1|
|tt0000003|      10|        哀れなピエロ|    JP|      ja|imdbDisplay|                  \N|              0|
|tt0000003|       2|        Poor Pierrot|    GB|      \N|imdbDisplay|                  \N|              0|
|tt0000003|       3|        Poor Pierrot|    US|      \N|imdbDisplay|                  \N|              0|
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
only showing top 20 rows

In [46]:
basics.createOrReplaceTempView("basics")

In [47]:
sql = '''
select * from basics

'''

result = spark.sql(sql)
result.show()

+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
|  titleId|ordering|               title|region|language|      types|          attributes|isOriginalTitle|
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
|tt0000001|       1|          Carmencita|    \N|      \N|   original|                  \N|              1|
|tt0000001|       2|          Carmencita|    DE|      \N|         \N|       literal title|              0|
|tt0000001|       3|          Carmencita|    US|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       4|Carmencita - span...|    HU|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       5|          Καρμενσίτα|    GR|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       6|          Карменсита|    RU|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       7|          Карменсіта|    UA|      \N|imdbDisplay|                  \N|              0|
|tt0000001|       8|      カルメンチータ|    JP|      ja|imdbDisplay|                  \N|              0|
|tt0000002|       1|Le clown et ses c...|    \N|      \N|   original|                  \N|              1|
|tt0000002|       2|   A bohóc és kutyái|    HU|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       3|Clovnul si cainii...|    RO|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       4|Der Clown und sei...|    DE|      \N|         \N|       literal title|              0|
|tt0000002|       5|Le clown et ses c...|    FR|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       6|The Clown and His...|    US|      \N|         \N|literal English t...|              0|
|tt0000002|       7|  Клоун и его собаки|    RU|      \N|imdbDisplay|                  \N|              0|
|tt0000002|       8|          道化師と犬|    JP|      ja|imdbDisplay|                  \N|              0|
|tt0000003|       1|      Pauvre Pierrot|    \N|      \N|   original|                  \N|              1|
|tt0000003|      10|        哀れなピエロ|    JP|      ja|imdbDisplay|                  \N|              0|
|tt0000003|       2|        Poor Pierrot|    GB|      \N|imdbDisplay|                  \N|              0|
|tt0000003|       3|        Poor Pierrot|    US|      \N|imdbDisplay|                  \N|              0|
+---------+--------+--------------------+------+--------+-----------+--------------------+---------------+
only showing top 20 rows

In [57]:
movies = spark.sql("""
    SELECT b.*, r.*
    FROM basics b
    INNER JOIN ratings r
    ON b.titleId = r.tconst
""")

In [ ]:
movies.count()

In [58]:
movies.show()

+---------+--------+--------------------+------+--------+-----------+----------+---------------+---------+-------------+--------+
|  titleId|ordering|               title|region|language|      types|attributes|isOriginalTitle|   tconst|averageRating|numVotes|
+---------+--------+--------------------+------+--------+-----------+----------+---------------+---------+-------------+--------+
|tt0002451|       1|           The Raven|    \N|      \N|   original|        \N|              1|tt0002451|         NULL|      24|
|tt0002451|       2|           The Raven|    US|      \N|imdbDisplay|        \N|              0|tt0002451|         NULL|      24|
|tt0004008|       1| Gertie the Dinosaur|    \N|      \N|   original|        \N|              1|tt0004008|         NULL|    3800|
|tt0004008|      10|      Динозавр Герти|    RU|      \N|imdbDisplay|        \N|              0|tt0004008|         NULL|    3800|
|tt0004008|      11|        恐竜ガーティ|    JP|      ja|imdbDisplay|        \N|              0|tt0004008|         NULL|    3800|
|tt0004008|      12|            恐龍葛蒂|    TW|      \N|imdbDisplay|        \N|              0|tt0004008|         NULL|    3800|
|tt0004008|       2| Gertie the Dinosaur|    DE|      \N|imdbDisplay|        \N|              0|tt0004008|         NULL|    3800|
|tt0004008|       3| Gertie the Dinosaur|    US|      \N|imdbDisplay|        \N|              0|tt0004008|         NULL|    3800|
|tt0004008|       4|              Gertie|    US|      \N|alternative|        \N|              0|tt0004008|         NULL|    3800|
|tt0004008|       5| Gertie il dinosauro|    IT|      \N|imdbDisplay|        \N|              0|tt0004008|         NULL|    3800|
|tt0004008|       6|Gertie the Traine...|    \N|      \N|         \N|        \N|              0|tt0004008|         NULL|    3800|
|tt0004008|       7|Gertie, a dinosza...|    HU|      \N|imdbDisplay|        \N|              0|tt0004008|         NULL|    3800|
|tt0004008|       8|Gertie, o Dinossauro|    BR|      \N|imdbDisplay|        \N|              0|tt0004008|         NULL|    3800|
|tt0004008|       9|Winsor Mc Cay, th...|    \N|      \N|         \N| new title|              0|tt0004008|         NULL|    3800|
|tt0008321|       1|            The Moth|    \N|      \N|   original|        \N|              1|tt0008321|         NULL|      14|
|tt0008321|       2|            The Moth|    GB|      \N|imdbDisplay|        \N|              0|tt0008321|         NULL|      14|
|tt0008321|       3|            The Moth|    US|      \N|imdbDisplay|        \N|              0|tt0008321|         NULL|      14|
|tt0008321|       4|Ægteskabets Fata ...|    DK|      \N|imdbDisplay|        \N|              0|tt0008321|         NULL|      14|
|tt0008321|       5|          La phalène|    FR|      \N|imdbDisplay|        \N|              0|tt0008321|         NULL|      14|
|tt0009137|       1|       The Gun Woman|    \N|      \N|   original|        \N|              1|tt0009137|         NULL|      35|
+---------+--------+--------------------+------+--------+-----------+----------+---------------+---------+-------------+--------+
only showing top 20 rows

In [ ]:
'''

#create a new Spark session and name it MovieRatings
spark = SparkSession.builder.appName("MovieRatings").getOrCreate()

#reads the ratings tsv as a csv, use the first row as headers, inferSchema
#will automatically figure out what type of data is in each column, like numbers or text
#sep tells that the data is seperated by tabs
#UTF-8 will help deal with any special charachters without errors
ratings = spark.read.csv("title.ratings.tsv", header=True, inferSchema=True, sep="\t", encoding="UTF-8")

#the same thing as the line before, but basics tsv is being read instead
basics = spark.read.csv("title.akas.tsv", header=True, inferSchema=True, sep="\t", encoding="UTF-8")

#explode the knownForTitles column, split the rows since they ara a list
#basics_exploded = basics.withColumn("tconst", explode(basics["titleId"]))

#rename the columns
basics = basics.withColumnRenamed("titleId", "titleId_basics")
ratings = ratings.withColumnRenamed("tconst", "titleId_ratings")

#join
result = basics.join(ratings, basics["titleId_basics"] == ratings["titleId_ratings"], how="inner")

result.show()

'''

+--------------+--------+--------------------------------+------+--------+-----------+----------+---------------+---------------+-------------+--------+
|titleId_basics|ordering|                           title|region|language|      types|attributes|isOriginalTitle|titleId_ratings|averageRating|numVotes|
+--------------+--------+--------------------------------+------+--------+-----------+----------+---------------+---------------+-------------+--------+
|     tt0000019|       1|                The Clown Barber|    \N|      \N|   original|        \N|              1|      tt0000019|          5.2|      33|
|     tt0000019|       2|                The Clown Barber|    GB|      \N|imdbDisplay|        \N|              0|      tt0000019|          5.2|      33|
|     tt0000058|       1|            Cortège de tzar a...|    \N|      \N|   original|        \N|              1|      tt0000058|          4.2|      35|
|     tt0000058|       2|            Cortège de tzar a...|    FR|      \N|imdbDisplay|        \N|              0|      tt0000058|          4.2|      35|
|     tt0000058|       3|            The Czar's Corteg...|    GB|      \N|imdbDisplay|        \N|              0|      tt0000058|          4.2|      35|
|     tt0000145|       1|                       En classe|    \N|      \N|   original|        \N|              1|      tt0000145|          3.5|      14|
|     tt0000145|       2|                       En classe|    FR|      \N|imdbDisplay|        \N|              0|      tt0000145|          3.5|      14|
|     tt0000146|       1|            Le cocher de fiac...|    \N|      \N|   original|        \N|              1|      tt0000146|          5.0|      27|
|     tt0000146|       2|                  Alvó taxisofőr|    HU|      \N|imdbDisplay|        \N|              0|      tt0000146|          5.0|      27|
|     tt0000146|       3|            Le cocher de fiac...|    FR|      \N|imdbDisplay|        \N|              0|      tt0000146|          5.0|      27|
|     tt0000186|       1|               Le cuirassé Maine|    \N|      \N|   original|        \N|              1|      tt0000186|          4.8|      25|
|     tt0000186|       2|               Le cuirassé Maine|    FR|      \N|imdbDisplay|        \N|              0|      tt0000186|          4.8|      25|
|     tt0000186|       3|            Гибель крейсера «...|    RU|      \N|imdbDisplay|        \N|              0|      tt0000186|          4.8|      25|
|     tt0000264|       1|               Évocation spirite|    \N|      \N|   original|        \N|              1|      tt0000264|          5.7|     519|
|     tt0000264|       2|               Évocation spirite|    FR|      \N|imdbDisplay|        \N|              0|      tt0000264|          5.7|     519|
|     tt0000264|       3|            Invocação de um E...|    BR|      \N|imdbDisplay|        \N|              0|      tt0000264|          5.7|     519|
|     tt0000264|       4|            Summoning the Spi...|    US|      \N|         \N|        \N|              0|      tt0000264|          5.7|     519|
|     tt0000264|       5|                    Призыв духов|    RU|      \N|imdbDisplay|        \N|              0|      tt0000264|          5.7|     519|
|     tt0000302|       1|            La fée aux choux,...|    \N|      \N|   original|        \N|              1|      tt0000302|          5.2|     316|
|     tt0000302|      10|キャベツの妖精、または子供の誕生|    JP|      ja|imdbDisplay|        \N|              0|      tt0000302|          5.2|     316|
+--------------+--------+--------------------------------+------+--------+-----------+----------+---------------+---------------+-------------+--------+
only showing top 20 rows

In [ ]:
spark.sql("DESCRIBE TABLE basics").show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|        titleId|   string|   NULL|
|       ordering|      int|   NULL|
|          title|   string|   NULL|
|         region|   string|   NULL|
|       language|   string|   NULL|
|          types|   string|   NULL|
|     attributes|   string|   NULL|
|isOriginalTitle|      int|   NULL|
+---------------+---------+-------+

In [ ]:
spark.sql("DESCRIBE TABLE ratings").show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|       tconst|   string|   NULL|
|averageRating|   double|   NULL|
|     numVotes|      int|   NULL|
+-------------+---------+-------+