<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/spark/Imdb_spark_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

source:  https://datasets.imdbws.com/

In [75]:
!wget https://datasets.imdbws.com/title.ratings.tsv.gz

--2025-02-24 09:13:00--  https://datasets.imdbws.com/title.ratings.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.239.69.29, 18.239.69.2, 18.239.69.88, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.239.69.29|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7735068 (7.4M) [binary/octet-stream]
Saving to: ‘title.ratings.tsv.gz.1’

title.ratings.tsv.g 100%[===================>]   7.38M  --.-KB/s    in 0.05s

2025-02-24 09:13:00 (163 MB/s) - ‘title.ratings.tsv.gz.1’ saved [7735068/7735068]

In [76]:
!gunzip title.ratings.tsv.gz

gzip: title.ratings.tsv already exists; do you wish to overwrite (y or n)? y

In [ ]:
!head title.ratings.tsv

tconst	averageRating	numVotes
tt0000001	5.7	2133
tt0000002	5.5	289
tt0000003	6.4	2169
tt0000004	5.3	184
tt0000005	6.2	2897
tt0000006	5.0	208
tt0000007	5.3	901
tt0000008	5.4	2280
tt0000009	5.3	221

In [ ]:
!head title.ratings.tsv > debug.tsv

In [ ]:
!tail title.ratings.tsv  > debug.tsv

In [ ]:
!cat title.ratings.tsv | egrep ".*([7-9])(\.).*" > good.rating.tsv

In [ ]:
! wc -l *.tsv

      10 debug.tsv
  858793 good.rating.tsv
 1537374 title.ratings.tsv
 2396177 total

In [ ]:
!head good.rating.tsv

tt0000012	7.4	13375
tt0000014	7.1	6103
tt0000060	7.1	93
tt0000211	7.4	5017
tt0000310	7.4	36
tt0000359	7.1	3356
tt0000361	7.4	27
tt0000417	8.1	58011
tt0000439	7.2	21753
tt0000441	7.2	12

In [ ]:
from pyspark.sql.functions import col
from pyspark.sql import SparkSession

from pyspark.sql.types import StructType, StructField, StringType, IntegerType, DecimalType

# tconst	averageRating	numVotes
schema = StructType([
    StructField("tconst", StringType(), True),
    StructField("averageRating", DecimalType(4, 2), True),
    StructField("numVotes", IntegerType(), True)
])

spark = SparkSession.builder.appName("IMDB Ratings").getOrCreate()


df = spark.read.csv('good.rating.tsv', sep='\t', header=True,  schema=schema)

In [77]:
df.show()

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000014|         7.10|    6103|
|tt0000060|         7.10|      93|
|tt0000211|         7.40|    5017|
|tt0000310|         7.40|      36|
|tt0000359|         7.10|    3356|
|tt0000361|         7.40|      27|
|tt0000417|         8.10|   58011|
|tt0000439|         7.20|   21753|
|tt0000441|         7.20|      12|
|tt0000465|         7.30|    1968|
|tt0000499|         7.50|    4213|
|tt0000578|         7.20|      29|
|tt0000606|         7.40|      18|
|tt0000618|         8.90|      16|
|tt0000650|         7.40|      23|
|tt0000661|         7.80|      24|
|tt0000738|         7.90|      22|
|tt0000746|         7.80|      19|
|tt0000775|         7.50|      11|
|tt0000778|         7.00|      16|
+---------+-------------+--------+
only showing top 20 rows

In [ ]:
#good_titles = df.filter(col('averageRating') >= 7.0)

#good_titles.show()

#save the filtered data to a new file, overwrite if the file already exists
#good_titles.write.csv('good.tsv', sep='\t', header=True, mode='overwrite')

In [ ]:

#from pyspark.sql import SparkSession

# Initialize SparkSession
#spark = SparkSession.builder \
#    .appName("netflix") \
#    .getOrCreate()

##df = spark.read.option("ratings", "\t").option("header", True).csv("title.ratings.tsv")

# Display the DataFrame


#df = spark.read.csv(
#    "good.tsv",
#    header=True,        # Use the first row as column names
#    inferSchema=True,   # Automatically infer data types
#    sep="\t",            # Specify delimiter (default is ',')
#    encoding="UTF-8"    # Handle encoding
#)

#df.show()

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000012|          7.4|   13371|
|tt0000014|          7.1|    6099|
|tt0000060|          7.1|      93|
|tt0000211|          7.4|    5015|
|tt0000310|          7.4|      36|
|tt0000359|          7.1|    3353|
|tt0000361|          7.4|      27|
|tt0000417|          8.1|   58007|
|tt0000439|          7.2|   21748|
|tt0000441|          7.2|      12|
|tt0000465|          7.3|    1967|
|tt0000499|          7.5|    4212|
|tt0000578|          7.2|      29|
|tt0000606|          7.4|      18|
|tt0000618|          8.9|      16|
|tt0000650|          7.4|      23|
|tt0000661|          7.8|      24|
|tt0000738|          7.9|      22|
|tt0000746|          7.8|      19|
|tt0000775|          7.5|      11|
+---------+-------------+--------+
only showing top 20 rows

In [ ]:
!head title.ratings.tsv

tconst	averageRating	numVotes
tt0000001	5.7	2133
tt0000002	5.5	289
tt0000003	6.4	2169
tt0000004	5.3	184
tt0000005	6.2	2896
tt0000006	5.0	208
tt0000007	5.3	901
tt0000008	5.4	2280
tt0000009	5.3	220

In [ ]:
df.createOrReplaceTempView("ratings")

In [ ]:

sql = '''
describe ratings

'''

result = spark.sql(sql)
result.show()

+-------------+------------+-------+
|     col_name|   data_type|comment|
+-------------+------------+-------+
|       tconst|      string|   NULL|
|averageRating|decimal(4,2)|   NULL|
|     numVotes|         int|   NULL|
+-------------+------------+-------+

In [ ]:
sql = '''
select * from ratings

'''

result = spark.sql(sql)
result.show()

+---------+-------------+--------+
|   tconst|averageRating|numVotes|
+---------+-------------+--------+
|tt0000014|         7.10|    6103|
|tt0000060|         7.10|      93|
|tt0000211|         7.40|    5017|
|tt0000310|         7.40|      36|
|tt0000359|         7.10|    3356|
|tt0000361|         7.40|      27|
|tt0000417|         8.10|   58011|
|tt0000439|         7.20|   21753|
|tt0000441|         7.20|      12|
|tt0000465|         7.30|    1968|
|tt0000499|         7.50|    4213|
|tt0000578|         7.20|      29|
|tt0000606|         7.40|      18|
|tt0000618|         8.90|      16|
|tt0000650|         7.40|      23|
|tt0000661|         7.80|      24|
|tt0000738|         7.90|      22|
|tt0000746|         7.80|      19|
|tt0000775|         7.50|      11|
|tt0000778|         7.00|      16|
+---------+-------------+--------+
only showing top 20 rows

In [71]:
!wget https://datasets.imdbws.com/title.basics.tsv.gz

--2025-02-24 09:08:45--  https://datasets.imdbws.com/title.basics.tsv.gz
Resolving datasets.imdbws.com (datasets.imdbws.com)... 18.239.69.88, 18.239.69.29, 18.239.69.2, ...
Connecting to datasets.imdbws.com (datasets.imdbws.com)|18.239.69.88|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 202185834 (193M) [binary/octet-stream]
Saving to: ‘title.basics.tsv.gz’

title.basics.tsv.gz 100%[===================>] 192.82M   184MB/s    in 1.0s

2025-02-24 09:08:46 (184 MB/s) - ‘title.basics.tsv.gz’ saved [202185834/202185834]

In [72]:
!gunzip title.basics.tsv.gz

gzip: title.basics.tsv already exists; do you wish to overwrite (y or n)? y

In [97]:
!head title.basics.tsv

tconst	titleType	primaryTitle	originalTitle	isAdult	startYear	endYear	runtimeMinutes	genres
tt0000001	short	Carmencita	Carmencita	0	1894	\N	1	Documentary,Short
tt0000002	short	Le clown et ses chiens	Le clown et ses chiens	0	1892	\N	5	Animation,Short
tt0000003	short	Poor Pierrot	Pauvre Pierrot	0	1892	\N	5	Animation,Comedy,Romance
tt0000004	short	Un bon bock	Un bon bock	0	1892	\N	12	Animation,Short
tt0000005	short	Blacksmith Scene	Blacksmith Scene	0	1893	\N	1	Short
tt0000006	short	Chinese Opium Den	Chinese Opium Den	0	1894	\N	1	Short
tt0000007	short	Corbett and Courtney Before the Kinetograph	Corbett and Courtney Before the Kinetograph	0	1894	\N	1	Short,Sport
tt0000008	short	Edison Kinetoscopic Record of a Sneeze	Edison Kinetoscopic Record of a Sneeze	0	1894	\N	1	Documentary,Short
tt0000009	movie	Miss Jerry	Miss Jerry	0	1894	\N	45	Romance

In [74]:
basics = spark.read.csv(
    "title.basics.tsv",
    header=True,        # Use the first row as column names
    inferSchema=True,   # Automatically infer data types
    sep="\t",            # Specify delimiter (default is ',')
    encoding="UTF-8"    # Handle encoding
)

basics.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|        Poor Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             5|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|               Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    movie|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            45|             Romance|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|      0|     1896|     \N|             1|   Documentary,Short|
|tt0000013|    short|The Photographica...|Le débarquement d...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|      0|     1895|     \N|             1|        Comedy,Short|
|tt0000015|    short|      Around a Cabin| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|
|tt0000016|    short|Boat Leaving the ...|Barque sortant du...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|      0|     1895|     \N|             1|         Short,Sport|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|      0|     1895|     \N|             1|Documentary,Short...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [80]:
basics.createOrReplaceTempView("basics")

In [82]:
sql = '''
select * from basics

'''

result = spark.sql(sql)
result.show()

+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|   tconst|titleType|        primaryTitle|       originalTitle|isAdult|startYear|endYear|runtimeMinutes|              genres|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
|tt0000001|    short|          Carmencita|          Carmencita|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000002|    short|Le clown et ses c...|Le clown et ses c...|      0|     1892|     \N|             5|     Animation,Short|
|tt0000003|    short|        Poor Pierrot|      Pauvre Pierrot|      0|     1892|     \N|             5|Animation,Comedy,...|
|tt0000004|    short|         Un bon bock|         Un bon bock|      0|     1892|     \N|            12|     Animation,Short|
|tt0000005|    short|    Blacksmith Scene|    Blacksmith Scene|      0|     1893|     \N|             1|               Short|
|tt0000006|    short|   Chinese Opium Den|   Chinese Opium Den|      0|     1894|     \N|             1|               Short|
|tt0000007|    short|Corbett and Court...|Corbett and Court...|      0|     1894|     \N|             1|         Short,Sport|
|tt0000008|    short|Edison Kinetoscop...|Edison Kinetoscop...|      0|     1894|     \N|             1|   Documentary,Short|
|tt0000009|    movie|          Miss Jerry|          Miss Jerry|      0|     1894|     \N|            45|             Romance|
|tt0000010|    short| Leaving the Factory|La sortie de l'us...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000011|    short|Akrobatisches Pot...|Akrobatisches Pot...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000012|    short|The Arrival of a ...|L'arrivée d'un tr...|      0|     1896|     \N|             1|   Documentary,Short|
|tt0000013|    short|The Photographica...|Le débarquement d...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000014|    short| The Waterer Watered|   L'arroseur arrosé|      0|     1895|     \N|             1|        Comedy,Short|
|tt0000015|    short|      Around a Cabin| Autour d'une cabine|      0|     1894|     \N|             2|     Animation,Short|
|tt0000016|    short|Boat Leaving the ...|Barque sortant du...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000017|    short|Italienischer Bau...|Italienischer Bau...|      0|     1895|     \N|             1|   Documentary,Short|
|tt0000018|    short|Das boxende Känguruh|Das boxende Känguruh|      0|     1895|     \N|             1|         Short,Sport|
|tt0000019|    short|    The Clown Barber|    The Clown Barber|      0|     1898|     \N|            \N|        Comedy,Short|
|tt0000020|    short|      The Derby 1895|      The Derby 1895|      0|     1895|     \N|             1|Documentary,Short...|
+---------+---------+--------------------+--------------------+-------+---------+-------+--------------+--------------------+
only showing top 20 rows

In [112]:
movies = spark.sql("""
    SELECT b.originalTitle, b.tconst, b.startYear, r.averageRating
    FROM basics b
    INNER JOIN ratings r
    ON b.tconst = r.tconst
    where b.startYear RLIKE '^[0-9]+$'
    order by b.startYear desc, r.averageRating desc
""")

In [113]:
movies.cache()

DataFrame[originalTitle: string, tconst: string, startYear: string, averageRating: decimal(4,2)]

In [115]:
movies.count()

858653

In [114]:
movies.show()

+--------------------+----------+---------+-------------+
|       originalTitle|    tconst|startYear|averageRating|
+--------------------+----------+---------+-------------+
|         Twin Sister|tt35283338|     2025|         9.90|
|          The Killer|tt35541866|     2025|         9.90|
|        Episode #1.9|tt35296787|     2025|         9.90|
|Estados Unidos No...|tt35508260|     2025|         9.90|
| Bhaava Theera Yaana|tt35674627|     2025|         9.90|
|      The Last Fight|tt35685040|     2025|         9.90|
|Is This the Bed W...|tt10957056|     2025|         9.90|
|           Binnenvet|tt35310520|     2025|         9.90|
|        Episode #2.2|tt35335040|     2025|         9.90|
|          168. Bölüm|tt35364807|     2025|         9.90|
|               Sword|tt35541865|     2025|         9.90|
|Mere Khayal Se - ...|tt35678755|     2025|         9.90|
|        Flat No. 403|tt35783944|     2025|         9.90|
|       Episode #1.15|tt26733876|     2025|         9.90|
|        Episode #1.9|tt35309360|     2025|         9.90|
|New Year's Gift G...|tt35405725|     2025|         9.90|
|     Olive Green +ve|tt35101558|     2025|         9.90|
|     Beyond the Tide|tt35288669|     2025|         9.90|
|       Episode #1.12|tt35487906|     2025|         9.90|
|After Hours: The ...|tt34855241|     2025|         9.80|
+--------------------+----------+---------+-------------+
only showing top 20 rows

In [ ]:
'''

#create a new Spark session and name it MovieRatings
spark = SparkSession.builder.appName("MovieRatings").getOrCreate()

#reads the ratings tsv as a csv, use the first row as headers, inferSchema
#will automatically figure out what type of data is in each column, like numbers or text
#sep tells that the data is seperated by tabs
#UTF-8 will help deal with any special charachters without errors
ratings = spark.read.csv("title.ratings.tsv", header=True, inferSchema=True, sep="\t", encoding="UTF-8")

#the same thing as the line before, but basics tsv is being read instead
basics = spark.read.csv("title.akas.tsv", header=True, inferSchema=True, sep="\t", encoding="UTF-8")

#explode the knownForTitles column, split the rows since they ara a list
#basics_exploded = basics.withColumn("tconst", explode(basics["titleId"]))

#rename the columns
basics = basics.withColumnRenamed("titleId", "titleId_basics")
ratings = ratings.withColumnRenamed("tconst", "titleId_ratings")

#join
result = basics.join(ratings, basics["titleId_basics"] == ratings["titleId_ratings"], how="inner")

result.show()

'''

+--------------+--------+--------------------------------+------+--------+-----------+----------+---------------+---------------+-------------+--------+
|titleId_basics|ordering|                           title|region|language|      types|attributes|isOriginalTitle|titleId_ratings|averageRating|numVotes|
+--------------+--------+--------------------------------+------+--------+-----------+----------+---------------+---------------+-------------+--------+
|     tt0000019|       1|                The Clown Barber|    \N|      \N|   original|        \N|              1|      tt0000019|          5.2|      33|
|     tt0000019|       2|                The Clown Barber|    GB|      \N|imdbDisplay|        \N|              0|      tt0000019|          5.2|      33|
|     tt0000058|       1|            Cortège de tzar a...|    \N|      \N|   original|        \N|              1|      tt0000058|          4.2|      35|
|     tt0000058|       2|            Cortège de tzar a...|    FR|      \N|imdbDisplay|        \N|              0|      tt0000058|          4.2|      35|
|     tt0000058|       3|            The Czar's Corteg...|    GB|      \N|imdbDisplay|        \N|              0|      tt0000058|          4.2|      35|
|     tt0000145|       1|                       En classe|    \N|      \N|   original|        \N|              1|      tt0000145|          3.5|      14|
|     tt0000145|       2|                       En classe|    FR|      \N|imdbDisplay|        \N|              0|      tt0000145|          3.5|      14|
|     tt0000146|       1|            Le cocher de fiac...|    \N|      \N|   original|        \N|              1|      tt0000146|          5.0|      27|
|     tt0000146|       2|                  Alvó taxisofőr|    HU|      \N|imdbDisplay|        \N|              0|      tt0000146|          5.0|      27|
|     tt0000146|       3|            Le cocher de fiac...|    FR|      \N|imdbDisplay|        \N|              0|      tt0000146|          5.0|      27|
|     tt0000186|       1|               Le cuirassé Maine|    \N|      \N|   original|        \N|              1|      tt0000186|          4.8|      25|
|     tt0000186|       2|               Le cuirassé Maine|    FR|      \N|imdbDisplay|        \N|              0|      tt0000186|          4.8|      25|
|     tt0000186|       3|            Гибель крейсера «...|    RU|      \N|imdbDisplay|        \N|              0|      tt0000186|          4.8|      25|
|     tt0000264|       1|               Évocation spirite|    \N|      \N|   original|        \N|              1|      tt0000264|          5.7|     519|
|     tt0000264|       2|               Évocation spirite|    FR|      \N|imdbDisplay|        \N|              0|      tt0000264|          5.7|     519|
|     tt0000264|       3|            Invocação de um E...|    BR|      \N|imdbDisplay|        \N|              0|      tt0000264|          5.7|     519|
|     tt0000264|       4|            Summoning the Spi...|    US|      \N|         \N|        \N|              0|      tt0000264|          5.7|     519|
|     tt0000264|       5|                    Призыв духов|    RU|      \N|imdbDisplay|        \N|              0|      tt0000264|          5.7|     519|
|     tt0000302|       1|            La fée aux choux,...|    \N|      \N|   original|        \N|              1|      tt0000302|          5.2|     316|
|     tt0000302|      10|キャベツの妖精、または子供の誕生|    JP|      ja|imdbDisplay|        \N|              0|      tt0000302|          5.2|     316|
+--------------+--------+--------------------------------+------+--------+-----------+----------+---------------+---------------+-------------+--------+
only showing top 20 rows

In [ ]:
spark.sql("DESCRIBE TABLE basics").show()

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|        titleId|   string|   NULL|
|       ordering|      int|   NULL|
|          title|   string|   NULL|
|         region|   string|   NULL|
|       language|   string|   NULL|
|          types|   string|   NULL|
|     attributes|   string|   NULL|
|isOriginalTitle|      int|   NULL|
+---------------+---------+-------+

In [ ]:
spark.sql("DESCRIBE TABLE ratings").show()

+-------------+---------+-------+
|     col_name|data_type|comment|
+-------------+---------+-------+
|       tconst|   string|   NULL|
|averageRating|   double|   NULL|
|     numVotes|      int|   NULL|
+-------------+---------+-------+