<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/basics/classes_and_objects.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [78]:
class Team:



    def __init__(self,teamName):
        self.teamName=teamName
        self.games = []
        self.players = []

    def addGame(self, game):
        self.games.append(game)

    def addPlayer(self, player):
        self.players.append(player)

    def removePlayer(self, player):

      idx = 0
      for p in self.players:
        if player.isequal(p):
          del self.players[idx]
        idx=+1


    def isequal():

      pass

    def tostring():

      pass

class Game:

  def __init__(self,opponent, teamScore,opponentScore):
        self.opponent=opponent
        self.teamScore = teamScore
        self.opponentScore = opponentScore

class Player:

  def __init__(self,name, salary, birthDate):
        self.name=name
        self.salary = salary
        self.birthDate = birthDate
        self.goals=0

  def isequal(self,player):
    return self.name == player.name and self.birthDate == player.birthDate

  def tostring(self):
    return ' '.join([self.name, self.birthDate.strftime("%Y-%m-%d"), str(self.salary),str(self.goals)])

In [85]:
from datetime import datetime

realMadrid=Team("Real Madrid")

messi=Player("Lionel Messi", 200, datetime.strptime("1990-01-01", "%Y-%m-%d"))

ronaldo=Player("Christian Ronaldo", 400, datetime.strptime("1997-01-01", "%Y-%m-%d"))

messiTwin=Player("Lionel Messi", 200, datetime.strptime("1990-01-01", "%Y-%m-%d"))

realMadrid.addPlayer(messi)

realMadrid.addPlayer(ronaldo)

realMadrid.addPlayer(messiTwin)

In [80]:
for p in realMadrid.players:
  print(p.tostring())

Lionel Messi 1990-01-01 200 0
Christian Ronaldo 1997-01-01 400 0
Lionel Messi 1990-01-01 200 0

In [62]:
messiTwin.isequal(messi)

True

In [64]:
messi.isequal(ronaldo)

False

In [86]:
realMadrid.removePlayer(ronaldo)

In [87]:
for p in realMadrid.players:
  print(p.tostring())

Lionel Messi 1990-01-01 200 0
Lionel Messi 1990-01-01 200 0