<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/basics/google_bigquery_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SQL




```sql


-- Create a dataset (only if you don't have one already)
CREATE SCHEMA IF NOT EXISTS `project_id.dataset_name`;


-- Create a table within the dataset
CREATE OR REPLACE TABLE `project_id.dataset_name.table_name` (
  id INT64,
  name STRING,
  email STRING,
  signup_date DATE
);



-- Insert data into the table
INSERT INTO `project_id.dataset_name.table_name` (id, name, email, signup_date)
VALUES
  (1, 'Alice Johnson', 'alice.johnson@example.com', '2024-01-01'),
  (2, 'Bob Smith', 'bob.smith@example.com', '2024-02-01'),
  (3, 'Charlie Brown', 'charlie.brown@example.com', '2024-03-01');


```

In [3]:
from google.colab import auth
auth.authenticate_user()

In [4]:
from google.cloud import bigquery

# Set your project ID
project_id = "hypatia-435300"

# Create a BigQuery client
client = bigquery.Client(project=project_id)

In [5]:
# SQL query to run
query = """
    SELECT *
    FROM `hypatia-435300.students.students`
    LIMIT 10;
"""

# Run the query
query_job = client.query(query)

# Fetch the results
results = query_job.result()

# Convert to a list of dictionaries for easier handling
rows = [dict(row) for row in results]

# Print the results
for row in rows:
    print(row)

{'id': 1, 'name': 'Alice Johnson', 'email': 'alice.johnson@example.com', 'signup_date': datetime.date(2024, 1, 1)}
{'id': 2, 'name': 'Bob Smith', 'email': 'bob.smith@example.com', 'signup_date': datetime.date(2024, 2, 1)}
{'id': 3, 'name': 'Charlie Brown', 'email': 'charlie.brown@example.com', 'signup_date': datetime.date(2024, 3, 1)}