<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/basics/solution_sqllite_create_random_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create Random Data

<font color='red'>Now Create Data using the Tables you Created in the Previous Exercise</font>


Now that we have created data using insert and SQL we will do it with Python.

Before we hard-coded our data.  Now we will insert random values.

> **Definitions**
>
> When you have two tables one is called **parent** and the other is called **child**.  You can say **a parent has children** or **a child belongs to a parent**.  This just means that the tables connected to each other by some common element.


The procedure is:

1.  create tables
2.  write some functions to create random information
3.  insert data into the **parent** table
4.  insert data into the **child** table

When you are done write some SQL to show that it worked:

```
%%sql
select * from parent;
select * from child;
```

##Python Code

Your Python code needs to work like this:

1.  Create connection object.  Do not close this.  As long as it is open you can run multiple SQL statements.

```
conn = sqlite3.connect(db_path)
```

2.  Write Python code to insert records into the parent and child tables.

3.  Close the connenction.

```
conn.close()
```


## Important Troubleshooting Tips

1. If you put `%sql sqlite:////random.db` with 4 slashes (////) instead of 3 (///) then it will look for a file named `/random.db` and not `random.db`.  So use three.

2.  When you do a lot of inserts and run your program many times the database case say **locked**.  That is what it is supposed to do when one person is updating one row.  It is supposed to lock the database so that no one else can overwrite that change.  But if it gets stuck then save your work when press runtime/restart session so it close all database connections.  Be careful as you will lose any unsaved work when you do this. You could even save a copy in drive to make an extra copy so you don't lose anything.

In [ ]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [ ]:
%sql sqlite:///random.db

In [ ]:
%%sql
drop table parent;
drop table child;

 * sqlite:///random.db
Done.
Done.

[]

In [ ]:
%%sql

CREATE TABLE parent
  (
    parent_id INTEGER PRIMARY KEY AUTOINCREMENT,
    parent_name text,
    date_created text
  );

CREATE TABLE child
  (
    child_id INTEGER PRIMARY KEY AUTOINCREMENT,
    parent_id INTEGER,
    child_name text,
    date_created text
  );

 * sqlite:///random.db
Done.
Done.

[]

In [ ]:
import random


# Here we make a list of common first and last names.  Then we pick a random integer to pick a first name and last name.  We put those together to give a full name.

def getName():

    fnames = ["Marya", "Diana", "Oleskii", "Yulia", "Illias", "Vlad", "Egor"]

    lnames = ["Zelensky", "Kovalenko", "Kravchenko", "Hrytsenko", "Melnyk"]

    return fnames[random.randint(0, len(fnames)-1)] +  " " + lnames[random.randint(0, len(lnames)-1)]


# Take today's date and add a random number of days to it. This can be in the future (> 0) or past (< 0) or today (= 0)

def getDate():

  from datetime import datetime, timedelta

  d = datetime.now() + timedelta(days=random.randint(-10,10))

  return d.strftime('%Y-%m-%d')

In [ ]:
!ls

random.db  random.db-shm  random.db-wal  sample_data

# Outline for Program:  Homework

Fill this the details of this code.  Use your own tables.  I used **parent** and **child**.

In [ ]:
# each of these functions needs the conn (conection) object because the database is already open.  Just use the open database connection.  Don't make a new one.

def getRandomParent(conn):


  cursor = conn.cursor()

  sql="select parent_id from parent"

  cursor.execute(sql)

  accounts=cursor.fetchall()

  return accounts[random.randint(0,len(accounts)-1)][0]

In [ ]:
# here is now to build a dynamic SQL statement


# the integer must be converted to a string in the SQL statement using str()

def generateParentSQL():

  dt=getDate()


  name=getName()

  sql="INSERT INTO parent (parent_name, date_created) VALUES ('{}', '{}')".format(name, dt)


  return sql

In [ ]:
# this one needs the connection object since we will look up a parent

def generateChildSQL(conn):

  dt=getDate()
  parent_id = getRandomParent(conn)

  name=getName()

  sql="INSERT INTO child (parent_id, child_name, date_created) VALUES ({},'{}', '{}')".format( parent_id,name, dt)


  return sql

In [ ]:
import sqlite3

db_path = 'random.db'



conn = sqlite3.connect(db_path)
conn.execute('PRAGMA journal_mode=WAL;')
conn.commit()


cursor = conn.cursor()

print("connection", conn)

# repeat this pattern in a loop

# make a list of parent_ids and put into a table.  Use the  getRandomAccount(conn) code below.

# Use the code below "here is now to build a dynamic SQL statement to build a SQL statement



# add 10 records to the parent table
for i in range(10):
   sql=generateParentSQL()
   print(sql)
   cursor.execute(sql)
   conn.commit()



for i in range(10):
   sql=generateChildSQL(conn)
   print(sql)
   cursor.execute(sql)
   conn.commit()





# don't close connection until the end
conn.close()

connection <sqlite3.Connection object at 0x7e6333b57340>
INSERT INTO parent (parent_name, date_created) VALUES ('Egor Kovalenko', '2024-09-30')
INSERT INTO parent (parent_name, date_created) VALUES ('Egor Zelensky', '2024-09-30')
INSERT INTO parent (parent_name, date_created) VALUES ('Egor Kovalenko', '2024-10-10')
INSERT INTO parent (parent_name, date_created) VALUES ('Vlad Kovalenko', '2024-09-28')
INSERT INTO parent (parent_name, date_created) VALUES ('Egor Kravchenko', '2024-10-17')
INSERT INTO parent (parent_name, date_created) VALUES ('Yulia Zelensky', '2024-10-06')
INSERT INTO parent (parent_name, date_created) VALUES ('Yulia Kravchenko', '2024-10-07')
INSERT INTO parent (parent_name, date_created) VALUES ('Marya Melnyk', '2024-10-16')
INSERT INTO parent (parent_name, date_created) VALUES ('Diana Zelensky', '2024-10-12')
INSERT INTO parent (parent_name, date_created) VALUES ('Oleskii Zelensky', '2024-10-14')
INSERT INTO child (parent_id, child_name, date_created) VALUES (6,'Yulia Kravchenko', '2024-10-17')
INSERT INTO child (parent_id, child_name, date_created) VALUES (4,'Diana Melnyk', '2024-09-27')
INSERT INTO child (parent_id, child_name, date_created) VALUES (10,'Diana Hrytsenko', '2024-10-06')
INSERT INTO child (parent_id, child_name, date_created) VALUES (2,'Egor Kravchenko', '2024-10-16')
INSERT INTO child (parent_id, child_name, date_created) VALUES (9,'Illias Zelensky', '2024-10-11')
INSERT INTO child (parent_id, child_name, date_created) VALUES (6,'Diana Kravchenko', '2024-09-30')
INSERT INTO child (parent_id, child_name, date_created) VALUES (2,'Egor Melnyk', '2024-10-02')
INSERT INTO child (parent_id, child_name, date_created) VALUES (2,'Egor Melnyk', '2024-10-08')
INSERT INTO child (parent_id, child_name, date_created) VALUES (1,'Marya Melnyk', '2024-10-08')
INSERT INTO child (parent_id, child_name, date_created) VALUES (3,'Diana Hrytsenko', '2024-10-06')

In [ ]:
%%sql
select * from parent;

 * sqlite:///random.db
Done.

[(1, 'Egor Kovalenko', '2024-09-30'),
 (2, 'Egor Zelensky', '2024-09-30'),
 (3, 'Egor Kovalenko', '2024-10-10'),
 (4, 'Vlad Kovalenko', '2024-09-28'),
 (5, 'Egor Kravchenko', '2024-10-17'),
 (6, 'Yulia Zelensky', '2024-10-06'),
 (7, 'Yulia Kravchenko', '2024-10-07'),
 (8, 'Marya Melnyk', '2024-10-16'),
 (9, 'Diana Zelensky', '2024-10-12'),
 (10, 'Oleskii Zelensky', '2024-10-14')]

In [ ]:
%%sql
select * from child;

 * sqlite:///random.db
Done.

[(1, 6, 'Yulia Kravchenko', '2024-10-17'),
 (2, 4, 'Diana Melnyk', '2024-09-27'),
 (3, 10, 'Diana Hrytsenko', '2024-10-06'),
 (4, 2, 'Egor Kravchenko', '2024-10-16'),
 (5, 9, 'Illias Zelensky', '2024-10-11'),
 (6, 6, 'Diana Kravchenko', '2024-09-30'),
 (7, 2, 'Egor Melnyk', '2024-10-02'),
 (8, 2, 'Egor Melnyk', '2024-10-08'),
 (9, 1, 'Marya Melnyk', '2024-10-08'),
 (10, 3, 'Diana Hrytsenko', '2024-10-06')]