<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/basics/sql_lite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sqlite3

In [2]:
conn = sqlite3.connect('sample_db.sqlite')

In [3]:
cursor = conn.cursor()

In [4]:
cursor.execute('''
    CREATE TABLE books (
        id INTEGER PRIMARY KEY,
        title TEXT NOT NULL,
        author TEXT NOT NULL,
        year_published INTEGER
    )
''')
conn.commit()  # Commit changes

In [5]:
books_data = [
    ("To Kill a Mockingbird", "Harper Lee", 1960),
    ("1984", "George Orwell", 1949),
    ("The Great Gatsby", "F. Scott Fitzgerald", 1925)
]

cursor.executemany('''
    INSERT INTO books (title, author, year_published) VALUES (?, ?, ?)
''', books_data)
conn.commit()  # Commit changes

In [6]:
cursor.execute("SELECT * FROM books")
books = cursor.fetchall()

for book in books:
    print(book)

(1, 'To Kill a Mockingbird', 'Harper Lee', 1960)
(2, '1984', 'George Orwell', 1949)
(3, 'The Great Gatsby', 'F. Scott Fitzgerald', 1925)

In [7]:
conn.close()