<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/basics/sqllite3_create_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!ls

drive  sample_data

# Inventory System

* products
* vendors

# Sales System

* customers
* sales transactions

# SQL Has no API

For example, Google would have an API to connect to Big Query.  That would let you add, update, or delete data.

But most databases also support SQL (Structured Query Language).

In [ ]:
import sqlite3


db_path = '/content/drive/MyDrive/inventory.db'

# Connect to (or create) the SQLite database
conn = sqlite3.connect(db_path)

# Enable foreign key support
conn.execute('PRAGMA foreign_keys = ON')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()

# SQL command to create the parent table
create_parent_table = '''
CREATE TABLE customers
  (
    customernumber INTEGER PRIMARY KEY,
    customername text,
    phonenumber text,
    postalcode text,
    datecreated int,
    email text
  );
'''

# Execute the SQL command to create the parent table
cursor.execute(create_parent_table)



# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

OperationalError: table customers already exists

In [ ]:

# Connect to (or create) the SQLite database
conn = sqlite3.connect(db_path)

# Enable foreign key support
conn.execute('PRAGMA foreign_keys = ON')

# Create a cursor object to execute SQL commands
cursor = conn.cursor()


sql='''
INSERT INTO customers (customernumber, customername, phonenumber, postalcode, datecreated, email)
VALUES (1, 'John Doe', '555-1234', '12345', strftime('%s', 'now'), 'johndoe@example.com');
'''

sql="select * from customers";

# Execute the SQL command to create the parent table
cursor.execute(sql)



# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

In [ ]:
import sqlite3

# Connect to the SQLite database (replace 'your_database.db' with your actual database path)
conn = sqlite3.connect(db_path)

# Create a cursor object to execute SQL queries
cursor = conn.cursor()

# SQL command to select all rows from the customers table
select_query = 'SELECT * FROM customers'

# Execute the query
cursor.execute(select_query)

# Fetch all results from the executed query
rows = cursor.fetchall()

# Check if rows were found and print them
if rows:
    print("Customer Records:")
    for row in rows:
        print(row)
else:
    print("No records found.")

# Close the connection
conn.close()

Customer Records:
(1, 'John Doe', '555-1234', '12345', 1727447275, 'johndoe@example.com')

```
CREATE TABLE orders
  (
     customernumber    varchar(100) ,
    ordernumber varchar(100) PRIMARY KEY,
    comments varchar(200),
    orderdate date,
    ordertype varchar(10),
    shipdate date,
discount float,
quantity int,
    productnumber varchar(50)
);

```

In [ ]:
CREATE TABLE products
  (
     description    varchar(100) ,
    productnumber varchar(100) PRIMARY KEY,
     price    real

  )

**Referential Integrity**--for example, if you have orders for customer number 3 and customer number 3 does not exist then you have a mess.

Not logical consistent.

In [1]:
%load_ext sql

In [8]:
%%sql sqlite:////content/drive/MyDrive/inventory.db

In [9]:
%%sql
SELECT * FROM customers;

 * sqlite:////content/drive/MyDrive/inventory.db
Done.

[(1, 'John Doe', '555-1234', '12345', 1727447275, 'johndoe@example.com')]