<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2023_08_09_data_types_math_functions_if_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types, Math Operators, Equality vs. Assignment, If Statement

#Data Types

| Type | Example | |
| ----------- | ----------- | ----------- |
| integer | 2 |   |
| float | 2.2 | has a decimal point.  eg. 1/3|
| boolean.   | True | |
| characters, strings   | "a" | |

In [ ]:
# Here is how you create a variable.  This is called instantiating it (create it)
# and initialize it (give it an initial value)

# This code creates the variable x and put the value 3 into it

x = 4

In [ ]:
# Integers are whole numbers, like: -2, -1, 0, 1, 2


# An integeration and a float are also know as primitives or scalars. That
# means they are simple data-type, a number, not a more advanced object.




x1 = 2

# Here is a float.  In math you say decimal.  In computers you say float.

y = 2.3

In [ ]:
# here is an example of a string (in Java they say string).  In C++ they say character.

matvey = "Matvey"


# Note: in computers a <> A.  case matters.  Below we see that the variable
# Matvey does not exist.  Because it is spelled with an uppercase letter.
# It must be matvey

In [ ]:
Matvey

NameError: name 'Matvey' is not defined

In [ ]:
# Here we initialize a string.

weather = "It is raining"

# Below we create a boolean by using the == logical operator to
# test whether it is equal to "It is raining"


weather == "It is raining"

True

In [ ]:
# Test operatr.  This == checks to see if the statement is true

x == 3

True

In [ ]:
type(x1)

int

In [ ]:
type(y)

float

In [ ]:
type(1/3)

In [ ]:
1/3

0.3333333333333333

In [ ]:
# boolean. True or False

pavlo = True

elene = False

#Math Operators

| opertor | name | example
| ----------- | ----------- | ----------- |
| + | addition  | 3 + 2 == 5|
| - | subtraction | 3 - 2 == 1 |
| / | division | 4 / 2 ==n2  |
| % | remainder  | 3 % 2 == 5, because 3/2 == 1 + 1 /2  |
| ```**``` | exponent | 2**2 == 4 |

In [1]:
2**2

4

In [2]:
3 % 2

1

#logic operators

| operator | means | example |
| ----------- | ----------- | ----------- |
| == |  equals to | 2 == 2 |
| >  | greater than  | 3  > 2 |
| <  |  less than |  -2 < -1 |
| not  |    |  "a"  not in ["a", "b"] |
| !=  |  not equal to  |  True != False |
| and  |   and |  True and True |
| or  | or   | True or False  |
| ^   |  exclusive or  | True ^ True == False  |
| >=  | greater than or equal to   |  3 >= 3 , 4 >=3   |

In [3]:
True and True

True

In [ ]:
# the short way.  short-hand

3 >= 3

# this is a short way to write is 3 equal to 3 or 3 bigger than 3

In [6]:
True ^ True

False

In [ ]:
# Here is an example of the operator and

"a"  not in ["a", "b"]

False

In [ ]:
# Here is an example of the operator or

3 > 3 or 3 == 3

True

In [ ]:
# A logical operation is a boolean, since it returns true of false.
# We use the type() function to show what data type it is.

type(3 > 3 or 3 == 3)

bool

In [ ]:
# this is an integer
z = 3

# this is a boolean

z > 2

True

In [ ]:
3 != 2

True

#Formatting Numbers for Printing

In [ ]:
c = 4

type(c)

print("c=", c)

c= 4

In [ ]:
print("Look at this interesting number ", 1/3)


# 0.33

Look at this interesting number  0.3333333333333333

In [ ]:


print(" print using only 2 decimal positions %.2f" %  (1 / 3))

 print using only 2 decimal positions 0.33

In [ ]:
print(" print using only 2 decimal positions {:.2f}".format(1 / 3))

 print using only 2 decimal positions 0.33

In [ ]:
print("x = {}".format(x))

x = 4

In [ ]:
walker = "walker"
ilias = "ilias"
elene = "elene"

print("hello {} who are  {} you  {}".format(walker,ilias,elene))

hello walker who are  ilias you  elene

In [ ]:
# precedence or order of operation

( (" print using only 2 decimal positions %.2f" %  1) / 3 )

#Order of Precedence

This means in a math equation like 3 * 3 / 2 which operator is executed first.  This chart shows that the * is executed before the division.  See the example below.

1. Parentheses ()
2. Exponents ^
3. Multiplication *
4. Division /
5. Addition +
6. Subtraction -

In [9]:
# You use parenthese to either make it easier to read a math equation
# or make explicit what order do you want the operations run

 ( 3 * 3 / 7 ) == ((3 * 3 )/ 7)

True

In [10]:
( 3 * 3 / 7 ) == (3 * ( 3 / 7))

False

In [ ]:
# why do you put parentese
# it (1) makes it easier to read and (2) you tell it what order to do the math

#  (2 * 3) + (4 * 5)



3 * 4 / 2


3 * 8 / 2

# if 3 * 8 / 2 = (3 * 8)  / 2 or 3 * (8 / 2)

3 * 9 / 3

# we know that is does division first and multication second

# comment

9.0

In [ ]:
# the point of this is to use parentheses

(3 * 9 ) / 3

In [ ]:
# addition is associate and distributive

4 + 2 - 3

#Math Library

For square root and hundreds of other math functions you can import the **math** library

In [ ]:
# Here is square root

import math

math.sqrt(16)

4.0

#If Statement

In [ ]:
if x == 3:
  print("True")
else:
  print("False")

False

In [ ]:
if True:
  print("This is True")

# algorithms

# written instructions, i.e., computer code

This is True

In [ ]:
if pavlo:
  print("This is True")

This is True

In [ ]:
if elene:
  print("xxxxxx")

NameError: name 'maria' is not defined

In [ ]:
if elene == False:
  print("xxxxxx")

xxxxxx

In [ ]:
maria = x1 * y
print(maria)
print(type(maria))

4.6
<class 'float'>

# What did we Cover?

* data types: integer, float [decimal is math], string, boolean

* logical operators:  is equal (==), greater than (>)

* if statements

* formatting print output, like getting rid of decimal positions

* order of precedence






computer: * for multiplication
math class: x for multiplication

# Homework


* create an example of an integer
* create a float
* show addition, subtraction, and exponentation (look this up, use perplexity.ai)
* write an if statement testing whether you number is bigger than some other number
* create a boolean statement.  give to examples