<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2023_08_09_data_types_math_functions_if_statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types, Math Operators, Equality vs. Assignment, If Statement

#Data Types

| Type | Example |
| ----------- | ----------- |
| integer | 2 |
| float | 2.2 |
| boolean.   | True |
| characters, strings   | "a" |

In [3]:
# integer. -2, -1, 0, 1, 2


# primitive, scalar, a number.

# nothing complicated


x1 = 2

# decimal is math class.  floating point

# 23.456.      284.12346666

y = 2.3

In [23]:
# here is an example of a string (in Java they say string).  In C++ they say character.

matvey = "Matvey"



# in computers a <> A.  case matters

In [24]:
Matvey

NameError: name 'Matvey' is not defined

In [22]:
weather = "It is raining"

# is it raining


weather == "It is raining"

True

In [18]:
# this means create the variable x and put the value 3 into it

x = 4

In [15]:
# test.  it means check to see if the statement is true

x == 3

True

In [19]:
if x == 3:
  print("True")
else:
  print("False")

False

In [5]:
type(x1)

int

In [4]:
type(y)

float

In [ ]:
type(1/3)

In [6]:
1/3

0.3333333333333333

In [7]:
# boolean. True or False

pavlo = True

elene = False

#Math Operators

| addition | Example |
| ----------- | ----------- |
| addition |   |
| subtraction |  |
| remainder % |   |



# logic operators

| operator | means | example |
| ----------- | ----------- |
| == |  equals to | 2 == 2 |
| >  | greater than  | 3  > 2 |
| <  |  less than |  -2 < -1 |
| not  |    |   |
| !=  |    |   |
| and  |    |   |
| or  |    |   |
| xor ?  |    |   |
| >=  | greater than or equal to   |  3 >= 3 , 4 >=3   |


##Test Equals

##Cash, Coerce

##Precedence

2*3/2

In [ ]:
# the short way.  short-hand

3 >= 3

# this is a short way to write is 3 equal to 3 or 3 bigger than 3

In [26]:
3 > 3 or 3 == 3

# when I write 3 = 3 that means put the number 3 into 3.  you can't change that.

True

In [27]:
type(3 > 3 or 3 == 3)

bool

In [20]:
z = 3

z > 2

True

In [28]:
3 != 2

True

In [30]:
c = 4

type(c)

print("c=", c)

c= 4

In [31]:
print("Look at this interesting number ", 1/3)


# 0.33

Look at this interesting number  0.3333333333333333

In [35]:


print(" print using only 2 decimal positions %.2f" %  (1 / 3))

 print using only 2 decimal positions 0.33

In [38]:
print(" print using only 2 decimal positions {:.2f}".format(1 / 3))

 print using only 2 decimal positions 0.33

In [39]:
print("x = {}".format(x))

x = 4

In [40]:
walker = "walker"
ilias = "ilias"
elene = "elene"

print("hello {} who are  {} you  {}".format(walker,ilias,elene))

hello walker who are  ilias you  elene

In [ ]:
# precedence or order of operation

( (" print using only 2 decimal positions %.2f" %  1) / 3 )

In [36]:
3%2

1

In [41]:
# why do you put parentese
# it (1) makes it easier to read and (2) you tell it what order to do the math

#  (2 * 3) + (4 * 5)



3 * 4 / 2


3 * 8 / 2

# if 3 * 8 / 2 = (3 * 8)  / 2 or 3 * (8 / 2)

3 * 9 / 3

# we know that is does division first and multication second

# comment

```
1. Parentheses ()
2. Exponents ^
3. Multiplication *
4. Division /
5. Addition +
6. Subtraction -
```

9.0

In [ ]:
# the point of this is to use parentheses

(3 * 9 ) / 3

In [ ]:
# addition is associate and distributive

4 + 2 - 3

In [21]:
type(z > 2)

bool

##Math Library

In [43]:
import math

math.sqrt(16)

4.0

#If Statememt

In [11]:
if True:
  print("This is True")

# algorithms

# written instructions, i.e., computer code

This is True

In [12]:
if pavlo:
  print("This is True")

This is True

In [9]:
if elene:
  print("xxxxxx")

NameError: name 'maria' is not defined

In [13]:
if elene == False:
  print("xxxxxx")

xxxxxx

In [10]:
maria = x1 * y
print(maria)
print(type(maria))

4.6
<class 'float'>

# What did we Cover?

* data types: integer, float [decimal is math], string, boolean

* logical operators:  is equal (==), greater than (>)

* if statements

* formatting print output, like getting rid of decimal positions

* order of precedence






computer: * for multiplication
math class: x for multiplication

# Homework


* create an example of an integer
* create a float
* show addition, subtraction, and exponentation (look this up, use perplexity.ai)
* write an if statement testing whether you number is bigger than some other number
* create a boolean statement.  give to examples