<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2024_10_15_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [123]:
from datetime import datetime

# a class

# data types:  int, float, char boolean, dictionaries, lists

# a class is meant to be something more like a real world object


# some programming languages, like Java and Haskell, require you to use classes for everything

# in Python especially if you are doing most things, machine learning, you
# don't really need to use classes.  You use it when it will make things simpler

# class definition
class Team:

  # initialize this

  #games = []

  # players = []

  # constructor.  This is the function that gives the class its initial values
  # self means the class.
  def __init__(self,teamName):

        # here we pass in values but we also initialize values
        self.teamName=teamName
        self.games = []
        self.players = []


  def addPlayer(self, player):
    self.players.append(player)

  # in Python you don't this.  You can chose to use this the Java-approach
  # One thing I don't like about Java is it is so wordy.  Long
  # It's stylistic chode
  def changeTeamName(self,newTeamName):
    # this is a difficult bug to find.
    # here I created a new variable called name
    # logical error as oppose to a syntax one.  Python will show you
    # when you have syntax or other errors.  But this kind it does not know
    # that you've don't something wrong here
    #self.name=newTeamName

    self.teamName=newTeamName

  def toString(self):

    return("The team name is ", self.teamName, " it has no. players", len(self.players))


# an instance of the class

  def removePlayer(self, player):

      idx = 0
      for p in self.players:
        if player.isequal(p):
          del self.players[idx]
        idx+=1

  # TODO

  #def addGame("XXXX"):

  #  pass

class Game:

  def __init__(self,team, teamScore, opponentScore, gameDate):

        # here we pass in values but we also initialize values

        # team is another instance of a team class

        self.opponent = team
        self.teamScore = teamScore
        self.opponentScore = opponentScore
        self.gameDate = gameDate

class Player:

  def __init__(self,name, salary, birthDate):
        self.name=name
        self.salary = salary
        self.birthDate = birthDate
        self.goals=0

  # compare this player to someone else
  # here player is an object
  def isequal(self,player):
    # the parameter player is a class.  so we put player.name
    return self.name == player.name and self.birthDate == player.birthDate

  def toString(self):
    return ' '.join([self.name, "birthday=", self.birthDate.strftime("%Y-%m-%d"), "salary=", str(self.salary), "goals=", str(self.goals)])

In [124]:
realMadrid=Team("Real Madrid")
barcelona=Team("Barcelona")

In [125]:
messi=Player("Lionel Messi", 200, datetime.strptime("1990-01-01", "%Y-%m-%d"))

ronaldo=Player("Christian Ronaldo", 400, datetime.strptime("1997-01-01","%Y-%m-%d"))

messiTwin=Player("Lionel Messi", 200, datetime.strptime("1990-01-01", "%Y-%m-%d"))

In [126]:
realMadrid.players

[]

In [127]:
messi.isequal(messiTwin)

True

In [128]:
messi.name, messi.birthDate

('Lionel Messi', datetime.datetime(1990, 1, 1, 0, 0))

In [129]:
messiTwin.name, messiTwin.birthDate

('Lionel Messi', datetime.datetime(1990, 1, 1, 0, 0))

In [130]:

messi.isequal(ronaldo)

False

In [131]:
print(messi)


# <__main__.Player object at 0x7bb11d92e920>


print(messi.toString())

<__main__.Player object at 0x7bb11d9a4610>
Lionel Messi birthday= 1990-01-01 salary= 200 goals= 0

In [132]:
realMadrid.addPlayer(messi)
realMadrid.addPlayer(ronaldo)
realMadrid.addPlayer(messiTwin)

In [133]:
print(realMadrid.toString())

('The team name is ', 'Real Madrid', ' it has no. players', 3)

In [134]:
# for example in Java you cannot update a class variable directly.  Python lets you do that

#realMadrid.changeTeamName("Ukraine")

#realMadrid.name

In [135]:
# a list has no primary key
# it not keys at at all.


# how can we remove a letter from the list

letters = ["a", "b", "c", "d"]

remove="c"

# we need some counter.  we can call it idx meaning index
# we have no real index that means we have to check everyone

idx = 0

for letter in letters:
    print(letter,idx)
    if letter == remove:
      #del is the python function to remove an item from a list at that position
      del letters[idx]
    # increment the value to go to the next item
    # this means assign the value positive 1 to each idx loop
    idx += 1



letters

a 0
b 1
c 2

['a', 'b', 'd']

In [136]:
realMadrid.removePlayer(ronaldo)

In [137]:
for player in realMadrid.players:
  print(player.toString())

Lionel Messi birthday= 1990-01-01 salary= 200 goals= 0
Lionel Messi birthday= 1990-01-01 salary= 200 goals= 0

# Homework

1. Write the code to add a game to the team

# TODO

 create a game.  so put something here game = Game(xxxxx).   You only need one.  Decide who wines it.  Put in the score.  

 remember as game has these values:

 team, teamScore, opponentScore, gameDate


 a game has to have two teams

 you would have to do this for both teams

```
 realMadrid.addGame( winner)
 barcelona.addGame( lose)
```


2. write the code to add to the player's score

in the Player class write the function def addScore():

```
 self.score = self.score + 1
```