<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2024_09_06_tic_tac_toe_finish_me.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **First part**

In [4]:
l = [1, 2]

# swap means change order.  so how can I make [ 2, 1]

print(l[0])
print(l[1])



# in three steps.  normal.  python lets you do two assignment in one step.
# that looks strange, because other programming language don't allow that

temporary=l[0]  # the 1 is here.  temporary spot
l[0]=l[1]

l[1]=temporary

l

1
2

[2, 1]

In [8]:
l = [1, 2]

l[0] , l[1] = l[1], l[0]

l

[2, 1]

In [5]:
3*2

6

In [ ]:
for i in range(10):
  swap = [[i[1],i[0]] for i in x]
swap

# **Third part**

In [ ]:
stack=[0,1,2,3,4,5,6,7,8,9]
i = 0
while len(stack) > 0:
  out = stack[i]
  del stack[i]
  print(out,stack)
  i ++ 1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
# write a list comprehension to multiple every item in a list by 2


l = [1,2,3,4]

# [expression for item in iterable if condition]


# expression, means do something
# for item:  fred, i
# iterable: basically means something you can count, a list is an iterable


n = []

n.append(1)

n.append(1*2)

n.append(1*3)

print(n)

# a more compact one is to do one line of code

[i ** 2 for i in l]

[1, 2, 3]

[1, 4, 9, 16]

In [22]:
t = [
      [None, None, None],
      [None, None, None],
      [None, None, None]
]

t[0][0]='x'

t

[['x', None, None], [None, None, None], [None, None, None]]

In [24]:
t = [
      ['o','x', 'o'],
      ['o','x', 'o'],
      ['o','x', 'o']
]

t

[['o', 'x', 'o'], ['o', 'x', 'o'], ['o', 'x', 'o']]

In [23]:
t[0]

['x', None, None]

In [25]:
t[0][0]

'o'

In [ ]:
# tests for equality
==

# assignment operator
=

In [ ]:
t = [
      ['o','x', 'o'],
      ['o','x', 'o'],
      ['o','x', 'o']
]

In [91]:
t = [
      ['a','x', 'o'],
      ['o','a', 'o'],
      ['o','x', 'a']
]

In [99]:
# is t a winner


# diagonal


t[0][0] == t[1][1] == t[2][2]

False

In [98]:
# how can I check the first column

row=0
column=0

t[row][column] == t[row + 1 ][column]  == t[row + 2 ][column]

True

In [ ]:
t[0][0] == t[1][1] == t[2][2]

In [100]:
for i in t:
  print(i)

['o', 'x', 'o']
['o', 'a', 'o']
['o', 'x', 'a']

In [93]:
# index means position

t[0][0]

t[[0]]

'a'

In [97]:
t[0][0]='o'

In [27]:
# first column

t[0][0] == t[1][0] == t[2][0]

True

In [29]:
n = [
      [1,2, 3],
      [4,5, 6],
      [7,8, 9]
]

In [31]:
n[0][0]

1

In [32]:
# column means up and down, vertical

# row means across, horizontal

n[column][row]


n[0][1]

2

In [42]:
n

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [72]:
# how do I check all values in the second column

import random

row = 0
column = 0    # < ----- spelling mistake

for r in range(3):  #"rows". this create a row object called r
  for c in range(3):  #"columns"
   print("debug me row=", row, "column=", column)
   n[row][column] = random.randint(0,1)
   column = column + 1    #<-------assign value
  print("\n")

  row = row + 1
  column = 0

n

debug me row= 0 column= 0
debug me row= 0 column= 1
debug me row= 0 column= 2


debug me row= 1 column= 0
debug me row= 1 column= 1
debug me row= 1 column= 2


debug me row= 2 column= 0
debug me row= 2 column= 1
debug me row= 2 column= 2

[[1, 1, 0], [0, 1, 0], [1, 1, 1]]

In [75]:
for i in n:
  print(i)

[1, 1, 0]
[0, 1, 0]
[1, 1, 1]

In [79]:
row=1
column=0

n[row][column]="y"

for r in n:
  print(r)

[1, 1, 0]
['y', 1, 'x']
[1, 1, 'x']

In [86]:


z =  [

     ["r0c0", "r0c1", "r0c2"],
     ["r1c0", "r1c1", "r1c2"]  ,
     ["r2c0", "r2c1", "r2c2"]

]


row=1
column=2

z[row][column]

'r1c2'

In [80]:
l=[1,2,3]

l[2]

3

#Homework

Fix this.

In [101]:
    # fill board with random values of x or o
    for column in range(3):
        for row in range(3):
            t[row][column] = random.randint(0,1) == 0

[[True, True, False], [False, False, True], [False, True, True]]

# Game

GO until you have a winner

In [106]:



isWinner = False # start game, no one is winner

while not isWinner:

    print("user picked")
    if random.randint(0,1) == 1:   # put an x or an o
      isWinner = True


print("done, game over")

user picked
user picked
user picked
done, game over

In [ ]:
while not isWinner:

    print("user picked")
    if random.randint(0,1) == some function that takes 0 or 1 and changes it to o or x:   # put an x or an o
      isWinner = True


print("done, game over")

In [59]:
cell=""

if random.randint(0,1) == 0:
  cell = "o"
else:
  cell = "x"

cell

'x'

In [41]:
n

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [35]:
n[0]

[1, 2, 3]

In [ ]:
for row in

In [17]:
for a in t:
  print(a)

['o', 'x', 'o']
['o', 'x', 'o']
['o', 'x', 'o']

In [19]:
t[0][0]

'o'

In [21]:
t[0][0] = 'x'

t

[['x', 'x', 'o'], ['o', 'x', 'o'], ['o', 'x', 'o']]

# **Fourth part**