<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2024_09_10_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# primitives

# integer

# boolean

# string

i=2

In [2]:
d = {
    "key": "value"
}

In [3]:
d['key']

'value'

In [14]:
d={
    "name": "Ela",
    "age": "secret",
    "country": "cyprus",
    "grades": [1,2,3],
    "score":  7
}

In [8]:
ela['name']='Walker'

ela

{'name': 'Walker',
 'age': 'secret',
 'country': 'cyprus',
 'grades': [1, 2, 3],
 'score': 7}

In [12]:
for key, value in ela.items():
  print("key=", key, "value=", value)

key= name value= Walker
key= age value= secret
key= country value= cyprus
key= grades value= [1, 2, 3]
key= score value= 7

In [15]:
# iterable means something you can look over


# iterator
d.items()


# list
d.values()

dict_values(['Ela', 'secret', 'cyprus', [1, 2, 3], 7])

In [18]:
ela['name']='Ela'

In [20]:
illia={'name': 'Illia',
 'age': 16,
 'country': 'Ukraine',
 'grades': [1, 2, 3],
 'score': 6}


illia

{'name': 'Illia',
 'age': 16,
 'country': 'Ukraine',
 'grades': [1, 2, 3],
 'score': 6}

In [21]:
hClass=[]


hClass.append(ela)
hClass.append(illia)

hClass

[{'name': 'Ela',
  'age': 'secret',
  'country': 'cyprus',
  'grades': [1, 2, 3],
  'score': 7},
 {'name': 'Illia',
  'age': 16,
  'country': 'Ukraine',
  'grades': [1, 2, 3],
  'score': 6}]

In [27]:
for student in hClass:
  for key, value in student.items():
      print("key=", key, "value=", value)
  print("\n")

key= name value= Ela
key= age value= secret
key= country value= cyprus
key= grades value= [1, 2, 3]
key= score value= 7


key= name value= Illia
key= age value= 16
key= country value= Ukraine
key= grades value= [1, 2, 3]
key= score value= 6

| **Function**          | **Parameters and Description**                                                                                                                                               |
|-----------------------|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| `dict()`              | No parameters or an iterable of key-value pairs. Creates a new dictionary.                                                                                                   |
| `clear()`             | No parameters. Removes all items from the dictionary.                                                                                                                        |
| `copy()`              | No parameters. Returns a shallow copy of the dictionary.                                                                                                                     |
| `fromkeys()`          | `iterable`, `value (optional)`. Creates a new dictionary with keys from `iterable` and values set to `value` (default is `None`).                                            |
| `get()`               | `key`, `default (optional)`. Returns the value for `key` if it exists, else `default` (default is `None`).                                                                   |
| `items()`             | No parameters. Returns a view object that displays a list of dictionary's key-value tuple pairs.                                                                              |
| `keys()`              | No parameters. Returns a view object of the dictionary's keys.                                                                                                               |
| `pop()`               | `key`, `default (optional)`. Removes the specified key and returns the corresponding value. If the key is not found, returns `default` if provided, otherwise raises `KeyError`.|
| `popitem()`           | No parameters. Removes and returns the last key-value pair as a tuple. Raises `KeyError` if the dictionary is empty.                                                         |
| `setdefault()`        | `key`, `default (optional)`. Returns the value of the `key` if it exists; if not, inserts `key` with a value of `default` and returns `default`.                             |
| `update()`            | `iterable or mapping`. Updates the dictionary with key-value pairs from another dictionary or iterable of key-value pairs.                                                    |
| `values()`            | No parameters. Returns a view object of all values in the dictionary.                                                                                                        |
| `len()`               | No parameters. Returns the number of key-value pairs in the dictionary.                                                                                                      |
| `del`                 | `key`. Deletes the key-value pair for the specified key. Raises `KeyError` if the key does not exist.                                                                        |
| `in`                  | `key`. Checks if the `key` exists in the dictionary, returning `True` or `False`.                                                                                            |
| `not in`              | `key`. Checks if the `key` does not exist in the dictionary, returning `True` or `False`.                                                                                    |

In [29]:
# make a dictionary

e = {}

f = dict()

e['name']='Walker'

e

{'name': 'Walker'}

# Homework

Pick 4 functions from the list above and write an example