<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2024_09_02_list_functions-stack-queue-lambda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Queue versus Stack

* queue--FIFO (first in first out), like line in the airport
* stack--LIFO (last in first out), a pile of potatoes

![](https://gohighbrow.com/wp-content/uploads/2018/07/Computer-science-fundamentals_6.1.png)

In [6]:

import random

queue=[]
stack=[]

# here first item added is queue[0] and stack[0]
# last item added is queue[9] and stack[9]

for i in range(10):
  queue.append(i)
  stack.append(i)

print(stack, "\n")
print(queue, "\n")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
for q in queue:
  print(q)

0
1
2
3
4
5
6
7
8
9

In [4]:
# puzzle:  why does this loop stop before len(queue)

# extra credit homework.  see if you can figure this out
for i in queue:
  popped = queue.pop()
  print(popped, queue)

9 [0, 1, 2, 3, 4, 5, 6, 7, 8]
8 [0, 1, 2, 3, 4, 5, 6, 7]
7 [0, 1, 2, 3, 4, 5, 6]
6 [0, 1, 2, 3, 4, 5]
5 [0, 1, 2, 3, 4]

In [5]:
queue

[0, 1, 2, 3, 4]

In [7]:
# LIFO

# the last time in is the first item removed.  we 'pop' it off.  it's the
# person at the kiosk who exits the line first



for i in range(len(stack)):
  leave = stack.pop()
  print(leave, stack)

9 [0, 1, 2, 3, 4, 5, 6, 7, 8]
8 [0, 1, 2, 3, 4, 5, 6, 7]
7 [0, 1, 2, 3, 4, 5, 6]
6 [0, 1, 2, 3, 4, 5]
5 [0, 1, 2, 3, 4]
4 [0, 1, 2, 3]
3 [0, 1, 2]
2 [0, 1]
1 [0]
0 []

In [31]:
# FIFO.  This removes the first item from the list first.  This is the doctor's waiting room.

import random



# the way I added items to the list was to go:


# it's hard to show item in first

# This is LAST IN

l=[None,None,None,None,None,None]


# range(from,to,step)

for i in range(len(l) -1 ,0,-1):
    # debug by printing stuff
    #l[i]=random.randint(0,10)
    l[i]=i
    #print(i,l[i])


print(l)
# not try first out

stack=l

[None, 1, 2, 3, 4, 5]

In [30]:

#Homework:  fix this

while len(stack) > 0:
  out = stack[i]
  del stack[i]
  print(out,stack)
  i ++ 1

1 [None, 2, 3, 4, 5]
2 [None, 3, 4, 5]
3 [None, 4, 5]
4 [None, 5]
5 [None]

IndexError: list index out of range

In [32]:
while len(l) > 0:   # this means keeep going until the list is empty
  l.pop(0)       # remove first object from list
  print(l)

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
[3, 4, 5]
[4, 5]
[5]
[]

[]

In [24]:
# step means increment

# step means next one is previous one + step

# 0, 0+1, 0+2
# 0, 0+2, 0+4


for i in range(0,10,2):
  print(i)

#. range(len(l) -1 ,0,-1):

# 4 , 4 + (-1),

0
2
4
6
8

6

In [ ]:


while len(stack) > 0:
  out = stack[i]
  del stack[i]
  print(out,stack)
  i ++ 1

In [12]:
for i in range(10,5,-1):
    print(i)

10
9
8
7
6

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#Two Dimensional Lists

In [33]:
twoD = [
    [1,2],
    [3,4]
]

twoD

[[1, 2], [3, 4]]

In [34]:
twoD[0]

[1, 2]

In [35]:
twoD[0][0]

1

In [36]:
twoD[0][1]

2

In [ ]:
l = [1,2,3]

In [ ]:
x = []

for i in range(10):
  x.append([random.randint(1,10),random.randint(1,10)])

x

[[10, 10],
 [7, 3],
 [8, 9],
 [5, 1],
 [4, 5],
 [7, 9],
 [5, 3],
 [10, 9],
 [10, 4],
 [10, 6]]

In [ ]:
# what is first item in 3rd item

print(x[3][0])


# second

print(x[3][1])

5
1

# List Comprehension

This is a way to make a list from an existing list
by running some function over it:

```
[i for i in l logic]

```

In [37]:
l = [1,2,3,4,5,6,7,8,9]


# [ do something. for i (make a variable). in list]

[i**2 for i in l]

[1, 4, 9]

In [38]:
# % means remainder after division

3 % 2 == 1

True

In [ ]:
# 3 /2 = 2/2 + 1/2 = 3/2

# 4 % 2 = 0

# proof.   4 / 2 = 4/2 + 0 = 2

In [41]:

l = [1,2,3,4,5,6,7,8,9]


odd = [i for i in l if i % 2 > 0]

odd

[1, 3, 5, 7, 9]

In [40]:
l

[1, 2, 3]

In [ ]:
l=[]

for i in range(10):
  l.append(i)

squares = [i**2 for i in l]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

#Lamdba Functions

In [ ]:

square = lambda s: s**2

s(5)

25

In [ ]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
squares = [square(i) for i in l]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Homework

Write a lambda function to swap the order of every [a,b] in x.

Hint.  See below.  So just make this a loop and do this for every item in x.

In [ ]:
a=[[1,3]]

swap = [[i[1],i[0]] for i in a]

swap

[[3, 1]]

In [ ]:
x = []

for i in range(10):
  a=[random.randint(1,10),random.randint(1,10)]
  x.append(a)

x

[[3, 10],
 [9, 10],
 [9, 2],
 [4, 9],
 [1, 7],
 [2, 6],
 [5, 6],
 [1, 8],
 [8, 10],
 [5, 5]]

# Homework (advanced)

write a loop to create this:

```

['o', 'x', 'o']
['x', 'x', 'o']
['o', 'o', 'x']

```



#Homework:  

1. fix this IndexError



```
stack=[None, 1, 2, 3, 4, 5]

while len(stack) > 0:
  out = stack[i]
  del stack[i]
  print(out,stack)
  i ++ 1
```

```
use:

l=[0,1,2,3,4,5,6,7,8,9]

```

2.  make a list comprehension to double every number in the list

3.  make a list comprehension to double every number in the list only if it is even