<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2024_08_20_calculator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [107]:
# variable number of arguments


def multiply(*number):

    product = 1

    for n in number:
      product = product * n

    return product

def add(*number):

    sum = 0

    for n in number:
      sum = sum + n

    return sum

def subtract(*number):

    sum = 0

    for n in number:
      sum = sum - n

    return sum

def divide(*number):

    sum = 0

    for n in number:
      sum = sum / n

    return sum

# Calculator

Note that this will produce the wrong answe as the order of precedence of math operators is left to right, only.


(((24*3)+2)*33)+235

In [105]:
# homework (extra difficult):  make a calculator


def calculate(number):

    return 1


#where number is a string like "2*3+2"

import re

# The input string
input_string = "24*3+2-33/235"

# this regular express basically means get all number and all not-numbers and put in a list
result = re.findall(r'\d+|\D', input_string)

print("split numbers and operators", result,"\n")


# then loop through each item in result:

c="" # always initalize to some value to get started

numbers=[]
operators=[]

for n in result:
  if n.isdigit():
    c=c + str(n)
    print("\nfound number", c)

  if n in ["+", "*", "/", "-"]:
    op=n
    print("\nfound operator", n)
    numbers.append(int(c))
    operators.append(n)
    c="" # erase string to prepare for next number

# get the last number

numbers.append(int(c))


print("\nnumbers found", numbers)
print("\noperators found", operators)

# \n\ntake the 1st number, 1st operator, and 2nd number




# that is generalized.  not finish algorithm to handle all 4 math operators
# next you would use 72 and add 2

split numbers and operators ['24', '*', '3', '+', '2', '-', '33', '/', '235']


found number 24

found operator *

found number 3

found operator +

found number 2

found operator -

found number 33

found operator /

found number 235

numbers found [24, 3, 2, 33, 235]

operators found ['*', '+', '-', '/']

In [108]:
x=0
y=1

print("\n\nstart calculation loop\n\n", input_string,"\n\n")

for i in range(0,len(numbers)-1):

  if i == 0:
    n1=numbers[i]
    n2=numbers[i+1]
    o1=operators[i]
  else:
    n1=z
    n2=numbers[i+1]
    o1=operators[i]


  if o1 == "*":
    z=multiply(n1,n2)

  if o1 == "+":
    z=add(n1,n2)

  if o1 == "-":
    z=subtract(n1,n2)

  if o1 == "/":
    z=divide(n1,n2)


  print("i={0} n1={1} n2={2} o1={3} {4}".format(i,n1,n2,o1,z),"\n")

start calculation loop

 24*3+2-33/235


i=0 n1=24 n2=3 o1=* 72

i=1 n1=72 n2=2 o1=+ 74

i=2 n1=74 n2=33 o1=- -107

i=3 n1=-107 n2=235 o1=/ -0.0

In [90]:
numbers

[24, 3, 2, 33, 235]