<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2024_08_30_list_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python List Functions

| **Function Name** | **Description & Parameters** |
|-------------------|------------------------------|
| `append(x)`       | Adds an item `x` to the end of the list. |
| `extend(iterable)`| Extends the list by appending all the items from the iterable. |
| `insert(i, x)`    | Inserts an item `x` at a given position `i`. The first parameter is the index where the item is inserted. |
| `remove(x)`       | Removes the first item from the list whose value is `x`. Raises a `ValueError` if the item is not found. |
| `pop([i])`        | Removes and returns the item at the given position `i` in the list. If no index is specified, `pop()` removes and returns the last item in the list. |
| `clear()`         | Removes all items from the list. |
| `index(x[, start[, end]])` | Returns the index of the first item whose value is `x`. Optional arguments `start` and `end` are interpreted as in slice notation and can be used to limit the search to a particular subsequence of the list. Raises a `ValueError` if the value is not found. |
| `count(x)`        | Returns the number of times `x` appears in the list. |
| `sort(key=None, reverse=False)` | Sorts the items of the list in place (the arguments can be used for sort customization). `key` is a function that serves as a key for the sort comparison, and `reverse` is a boolean to sort in descending order. |
| `reverse()`       | Reverses the elements of the list in place. |
| `copy()`          | Returns a shallow copy of the list. |

In [ ]:
l1 = [9,8,7,5]
l2 = ["a", "b", "c", "d"]

l2.append("e")
print(l2)


[9,8,7,5]

# insert extends the list by 1 and then inserts an item at the position you told it to

[9,8,7,6,5]

['a', 'b', 'c', 'd', 'e']

In [ ]:
# index means where it is:

# first item in the list
l1[0]

9

In [ ]:

l1[0:3]

[9, 8, 7]

In [ ]:
# slice. l[from: to - 1]

# put colon (:) between the numbers


l = [1,2,3,4]
#.   0,1,2,3

start=2
stop=3

l[start:stop]

# this means start 2 and end at 3-2=2

[3]

In [ ]:
# classic way of making a loop, like in c++
j = 0

for i in l:
  print("i=",i,"j=",j)
  j = j + 1

i= 1 j= 0
i= 2 j= 1
i= 3 j= 2
i= 4 j= 3

In [ ]:
for i in range(len(l)):
  print("index=", i, "item at that position=", l[i])

index= 0 item at that position= 1
index= 1 item at that position= 2
index= 2 item at that position= 3
index= 3 item at that position= 4

# List Slice Operations

| **Slice Operation**     | **Description & Parameters** |
|-------------------------|------------------------------|
| `list[start:stop]`       | Returns a new list containing elements from index `start` to `stop-1`. If `start` is omitted, it defaults to the beginning of the list. If `stop` is omitted, it defaults to the end of the list. |
| `list[start:stop:step]`  | Returns a new list containing elements from index `start` to `stop-1`, with a step size of `step`. If `step` is omitted, it defaults to `1`. Negative `step` values can be used to reverse the list. |
| `list[:stop]`            | Returns a new list containing elements from the beginning of the list up to `stop-1`. |
| `list[start:]`           | Returns a new list containing elements from index `start` to the end of the list. |
| `list[:]`                | Returns a shallow copy of the entire list. Equivalent to `list.copy()`. |
| `list[::-1]`             | Returns a new list that is the reverse of the original list. The `-1` step indicates a reverse order. |
| `list[start:stop] = iterable` | Replaces the slice from `start` to `stop-1` with the elements from `iterable`. |
| `del list[start:stop]`   | Deletes the elements in the slice from `start` to `stop-1`. |

# Homework

Do <font color='red'>BOTH</font> items 1 and 2.  That is, 5 functions and 5 list slice operations.

1. Pick any 5 functions and write examples that you know how to use list functions.

2. Do the same this for List Operations.  (The easier ones are at the top.  The ones at the bottom are harder to understand.)

Do <font color='red'>BOTH</font> items 1 and 2.

# Queue versus Stack

* queue--FIFO (first in first out)
* stack--LIFO (last in first out)

![](https://gohighbrow.com/wp-content/uploads/2018/07/Computer-science-fundamentals_6.1.png)

In [18]:

import random

queue=[]
stack=[]

# here first item added is queue[0] and stack[0]
# last item added is queue[9] and stack[9]

for i in range(10):
  queue.append(i)
  stack.append(i)

print(queue, "\n")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# puzzle:  why does this loop stop before len(queue)
#for i in queue:
#  popped = queue.pop()
#  print(popped, queue)

In [14]:
# LIFO

# the last time in is the first item removed.  we 'pop' it off.  it's the
# person at the kiosk who exits the line first


for i in range(len(stack)):
  leave = stack.pop()
  print(leave, stack)

9 [0, 1, 2, 3, 4, 5, 6, 7, 8]
8 [0, 1, 2, 3, 4, 5, 6, 7]
7 [0, 1, 2, 3, 4, 5, 6]
6 [0, 1, 2, 3, 4, 5]
5 [0, 1, 2, 3, 4]
4 [0, 1, 2, 3]
3 [0, 1, 2]
2 [0, 1]
1 [0]
0 []

In [22]:
# FIFO.  This removes the first item from the list first.  This is the doctor's waiting room.

i = 0

while len(stack) > 0:
  out = stack[i]
  del stack[i]
  print(out,stack)
  i ++ 1

1 [2, 3, 4, 5, 6, 7, 8, 9]
2 [3, 4, 5, 6, 7, 8, 9]
3 [4, 5, 6, 7, 8, 9]
4 [5, 6, 7, 8, 9]
5 [6, 7, 8, 9]
6 [7, 8, 9]
7 [8, 9]
8 [9]
9 []

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#Two Dimensional Lists

In [28]:
x = []

for i in range(10):
  x.append([random.randint(1,10),random.randint(1,10)])

x

[[10, 10],
 [7, 3],
 [8, 9],
 [5, 1],
 [4, 5],
 [7, 9],
 [5, 3],
 [10, 9],
 [10, 4],
 [10, 6]]

In [34]:
# what is first item in 3rd item

print(x[3][0])


# second

print(x[3][1])

5
1

# List Comprehension

In [35]:
l=[]

for i in range(10):
  l.append(i)

odd = [i for i in l if i % 2 > 0]

odd

[1, 3, 5, 7, 9]

In [37]:
l=[]

for i in range(10):
  l.append(i)

squares = [i**2 for i in l]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [44]:

square = lambda s: s**2

s(5)

25

In [43]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [45]:
squares = [square(i) for i in l]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Homework

Write a lambda function to swap the order of every [a,b] in x.

Hint.  See below.  So just make this a loop and do this for every item in x.

In [57]:
a=[[1,3]]

swap = [[i[1],i[0]] for i in a]

swap

[[3, 1]]

In [58]:
x = []

for i in range(10):
  a=[random.randint(1,10),random.randint(1,10)]
  x.append(a)

x

[[3, 10],
 [9, 10],
 [9, 2],
 [4, 9],
 [1, 7],
 [2, 6],
 [5, 6],
 [1, 8],
 [8, 10],
 [5, 5]]