<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2024_08_30_list_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Queue versus Stack

* queue--FIFO (first in first out)
* stack--LIFO (last in first out)

![](https://gohighbrow.com/wp-content/uploads/2018/07/Computer-science-fundamentals_6.1.png)

In [ ]:

import random

queue=[]
stack=[]

# here first item added is queue[0] and stack[0]
# last item added is queue[9] and stack[9]

for i in range(10):
  queue.append(i)
  stack.append(i)

print(queue, "\n")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# puzzle:  why does this loop stop before len(queue)
#for i in queue:
#  popped = queue.pop()
#  print(popped, queue)

In [ ]:
# LIFO

# the last time in is the first item removed.  we 'pop' it off.  it's the
# person at the kiosk who exits the line first


for i in range(len(stack)):
  leave = stack.pop()
  print(leave, stack)

9 [0, 1, 2, 3, 4, 5, 6, 7, 8]
8 [0, 1, 2, 3, 4, 5, 6, 7]
7 [0, 1, 2, 3, 4, 5, 6]
6 [0, 1, 2, 3, 4, 5]
5 [0, 1, 2, 3, 4]
4 [0, 1, 2, 3]
3 [0, 1, 2]
2 [0, 1]
1 [0]
0 []

In [ ]:
# FIFO.  This removes the first item from the list first.  This is the doctor's waiting room.

i = 0

while len(stack) > 0:
  out = stack[i]
  del stack[i]
  print(out,stack)
  i ++ 1

1 [2, 3, 4, 5, 6, 7, 8, 9]
2 [3, 4, 5, 6, 7, 8, 9]
3 [4, 5, 6, 7, 8, 9]
4 [5, 6, 7, 8, 9]
5 [6, 7, 8, 9]
6 [7, 8, 9]
7 [8, 9]
8 [9]
9 []

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#Two Dimensional Lists

In [ ]:
x = []

for i in range(10):
  x.append([random.randint(1,10),random.randint(1,10)])

x

[[10, 10],
 [7, 3],
 [8, 9],
 [5, 1],
 [4, 5],
 [7, 9],
 [5, 3],
 [10, 9],
 [10, 4],
 [10, 6]]

In [ ]:
# what is first item in 3rd item

print(x[3][0])


# second

print(x[3][1])

5
1

# List Comprehension

In [ ]:
l=[]

for i in range(10):
  l.append(i)

odd = [i for i in l if i % 2 > 0]

odd

[1, 3, 5, 7, 9]

In [ ]:
l=[]

for i in range(10):
  l.append(i)

squares = [i**2 for i in l]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## Lamdba Functions

In [ ]:

square = lambda s: s**2

s(5)

25

In [ ]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
squares = [square(i) for i in l]

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# Homework

Write a lambda function to swap the order of every [a,b] in x.

Hint.  See below.  So just make this a loop and do this for every item in x.

In [ ]:
a=[[1,3]]

swap = [[i[1],i[0]] for i in a]

swap

[[3, 1]]

In [ ]:
x = []

for i in range(10):
  a=[random.randint(1,10),random.randint(1,10)]
  x.append(a)

x

[[3, 10],
 [9, 10],
 [9, 2],
 [4, 9],
 [1, 7],
 [2, 6],
 [5, 6],
 [1, 8],
 [8, 10],
 [5, 5]]