<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2025_09_26_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types

* int (integer)
* float (in math class you call Real)   1.2
* str (in java you say string, in C++ you cay char)
* boolean False or True



# Math Operators


# Logic Operators

* <
* >
* or
* and
* if
* else
* then

In [3]:
1/2

0.5

In [5]:
# this is an assignment operator. it says assign the value 1/2 to the new variable x
# that means it creates it

x=1/2

In [6]:
type(x)

float

In [10]:
print(x)

0.5

In [8]:
# multiplication on computers use * , in math class you use x

3 * x

1.5

In [13]:
y=4

print(y, type(y))

# a class is an object

4 <class 'int'>

In [15]:
ela = TRUE

NameError: name 'TRUE' is not defined

In [16]:
Ela

NameError: name 'Ela' is not defined

In [17]:
# assignment is =

yuriy = 14

In [18]:
# test operator is ==
# as a question.  Is yuriy = 14

yuriy == 14

True

In [19]:
d = (yuriy == 14)

In [23]:
print("yuriy=", yuriy, "\nis yuriy 14?", yuriy == 14 , "\nwhat type of variable is that", type(yuriy == 14))

yuriy= 14
is yuriy 14? True
what type of variable is that <class 'bool'>

#MATH

* addition
* subtraction
* multiplication
* division
* remainder
* exponets
* square roots

In [ ]:
# Python is interpreted
# java is compiled

# REPL read-execute-print-loop

In [25]:
# multiplication
# code lint

(2 * 3) + 7

13

In [27]:
# order of precedence
# multiplication is done first
# addition is done second
# use parantheses to change order of execution, or just to make it easier to read

2 * ( 3 + 7 )

20

In [28]:
2 - 3

-1

In [29]:
9 / 4

# 9 ÷  4

SyntaxError: invalid character '÷' (U+00F7) (ipython-input-202655216.py, line 3)

In [31]:
x = 9
y = 4

z = x / y

print ("z", z)
x / y

z 2.25

2.25

In [34]:
# to increment something means to add 1 to

f = 1

f

1

In [35]:
f + 1

print("f+1", f + 1)

f+1 2

In [37]:
# g is 1

g = 1

# there is no = sign.  so g will be updated.  if we we add 1 to g but don't asssign g + 1 to something then g is not changed
g + 1
print("before", g)

g = g + 1

print("after", g)

before 1
after 2

In [38]:
g == 2

True

In [39]:
# greater than

g > 2

False

In [40]:
g >= 2

True

In [41]:
# these two statements are the same


g == 2 or g > 2

True

In [42]:
# logic

True or False

True

In [50]:
# needs an initial value

height = 0

tall  =   1.5



# > 1.5
# < 1.5
# = 1.5


ella = 1.5
serg = 1.3

# is ela tall?  NOT CORRECT
# is ella exactly equal 1.5

ella == tall

ella > tall

# boolean.  the test operator
# is ella equal to height
ella == height


# it is a boolean expression that is true if height > 1.5
tall = height > 1.5

small = height <= 1.5


# height is 2
height = 2


tall, small, height

(False, True, 2)

In [52]:
#FIX ME
# here is says small is when height <= 1.5 but height is equal to 2

small, height

(True, 2)

In [53]:
# function.  a function does something

# def ---  define function
# x --- the value to pass into the function
# if x > 1.5 tests whether x > 1.5
# : to be continue.
# sent back a value

def tall(x):

  if x > 1.5:
    return True

var x = 4

**JavaScript**

# curly braces
# first brace tells you where code starts
# last brace tells you where it ends


if x > 2 {

}

**Python**

levels of control, or what delimits the code are indents

In [54]:
tall(3)

True

In [55]:
if 2 > 1:
  if True:  # this will always be true.  i just put to show you indents
    print("true I am bigger than 2")

true I am bigger than 2

In [56]:
if 2 > 1:
  print("true I am bigger than 2")

true I am bigger than 2

# Homework


**Extra difficult 1**:  fix the part that says FIX ME

**Extra difficult 2**:  write a function to test whether x is bigger than y.  hint:  use `def`

regular homework:

* b create two variables x and y and assign a value to each

* test wether x is bigger than y using both the **if** and the **test operator**.  hint:  `2 == 2` tests is 2 is equal to 2

* create a character string

* divide x and y

* create the variable c.  increment c by 1