<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/2025_10_10_function_discussion_sort_agorithm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists

| Function (Arguments)           | Description                                                               |
|--------------------------------|---------------------------------------------------------------------------|
| list(iterable)                 | Creates a new list from an iterable (string, tuple, etc.)                 |
| append(element)                | Adds an element to the end of the list                                    |
| copy()                         | Returns a shallow copy of the list                                        |
| count(value)                   | Returns the number of occurrences of a value in the list                  |
| clear()                        | Removes all elements from the list                                        |
| remove(value)                  | Removes the first occurrence of a value in the list                       |
| extend(iterable)               | Extends the list by adding elements from another iterable                 |
| index(value)                   | Returns the index of the first occurrence of a value                      |
| insert(index, value)           | Inserts an element at a specified position                                |
| pop([index])                   | Removes and returns an element at a given index (default: last element)   |
| reverse()                      | Reverses the order of elements in the list                                |
| sort()                         | Sorts the list in ascending order by default                              |

In [ ]:
# here we use the function called sorted.  it works with any iterable
# other students did list.sort() which only works with a list


l=[9,8,7,6,5,4,3,2,1]
m=sorted(l)
m

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
m[2]="x"
m

[1, 2, 'x', 4, 5, 6, 7, 8, 9]

In [ ]:
l.sort()
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

You can sort a dictionary because it is an iterable

In [ ]:
sorted({"f": 1,
        "e": 2,
        "d": 3,
        "c": 4,
        "b": 5})

['b', 'c', 'd', 'e', 'f']

Assignable

In [ ]:
t = [1,2,3]
t[2] = 4
t

[1, 2, 4]

In [ ]:
# something that you cannot change is immutable

# set
s = {1,2,3}
s[2] = 0

type(s)

set

In [ ]:
type(l)

list

In [ ]:
t = (1,2,3)
t[0]=1

TypeError: 'tuple' object does not support item assignment

In [ ]:
name = "Walker"

name[1] = "j"

TypeError: 'str' object does not support item assignment

In [ ]:
sorted(s)

[1, 2, 3]

In [ ]:
# I made the mistake of thinkging that l.sort() returns a new list.  No .  It sorts in place

l=[9,8,7,6,5,4,3,2,1]
n=l.sort()
print(n)

None

Difference must be in the display.

In [ ]:
l.sort() #<-----does it returns none.  No.  I works in place.  In-situ.
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
None == L.sort()

You can make a list from an iterable

In [ ]:
range(0,10,2)

range(0, 10, 2)

In [ ]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
students = ["Sam", "Jill", "Fred"]

students.index("Jill")

1

In [ ]:
# this is a list comprehension

[i**2 for i in [2,4,6]]

[4, 16, 36]

In [ ]:
[i**2 for i in [2,4,6] if i%2==0]

[4, 16, 36]

# Homework:  Implement Sort Algorithm

do pairwise comparison a, b.  if a > b then swap a and b.  do it is one step like this:

a , b = b , a

hints below

In [ ]:
a=[3,5,1,2]
a.sort()
a

[1, 2, 3, 5]

In [ ]:
# where do we start

#DO IT MANUALLY FIRST


3 > 5
5 > 1

[3,1,5,2]

5 > 2

[3,1,2,5]

# start over

3 > 1
[1,3,2,5]

3 > 2

[1,2,3,5]


# pair wise comparisons

a=[3,1,5,2]
b=a


a[0] > a[1]

# swap in one step of swap in two steps


# two steps
# here we used a temporary value.  sometimes I call it work

temporary = a[0]
a[0] = a[1]
a[1] = temporary

a[0], a[1]

# one step

a[2], a[3] = a[3], a[2]

a

a[1], a[2] = a[2], a[1]

a

[1, 2, 3, 5]

In [ ]:
[a[0] <= a[1] < a[2] < a[3]]

[True]

In [ ]:
[1,1,2,3]

In [ ]:
# swap two elements is how you sort.
# swap like this

a = 3
b = 2

if a > b:
  a , b = b, a

# we don't check if a < b
# because that is the definition of sorted


a,b

(2, 3)

In [ ]:
# and with a list

h = [2,1]

if h[0] > h[1]:
  h[0], h[1] = h[1], h[0]

h[0], h[1]

(1, 2)

In [ ]:
# enumerate means to list

# KEY POINT:  to do pair wise comparisons first make a copy of the list
# then look every possible pair



a = [1, 2, 3]
b = a.copy()




cnt = 0
for i in a:
  for j in b:
    print(cnt,[i,j])

    # now check if i > j if so swap

    cnt += 1

0 [1, 1]
1 [1, 2]
2 [1, 3]
3 [2, 1]
4 [2, 2]
5 [2, 3]
6 [3, 1]
7 [3, 2]
8 [3, 3]

In [ ]:
# POINT OF CLARIFICATION.  What is we use one list
# THIS MIGHT BE EASIER



cnt = 0
for i in a:
  for j in a:
    print(cnt,[i,j])

    # now check if i > j if so swap

    cnt += 1

0 [1, 1]
1 [1, 2]
2 [1, 3]
3 [2, 1]
4 [2, 2]
5 [2, 3]
6 [3, 1]
7 [3, 2]
8 [3, 3]

In [ ]:
# HOW DO WE SWAP

# we swap based on the index

c = [1,2,3]

for i in c:
  print(i)
  # we don't know the index of the element in in c
  # so we can't write c[?]
  # so we need to count

In [ ]:
# subtle.  this technique would be more complicated.  figure it out if you want to

l = [5,4,3,2,1]

# g and l are the same
g = l

# there are many ways to do pairwise comparisons.  here is one:

for i in l:
  # update g by takeing the next value.  remember we start at 0 so 1: means take from the 2nd positon
  g = g[1:]
  print(l, g)

[5, 4, 3, 2, 1] [4, 3, 2, 1]
[5, 4, 3, 2, 1] [3, 2, 1]
[5, 4, 3, 2, 1] [2, 1]
[5, 4, 3, 2, 1] [1]
[5, 4, 3, 2, 1] []

In [ ]:
# slicing operations


l[1:4:2]

[4, 2]

In [ ]:
# you could also make copy lists and compare them

# USE THIS
# do pairwise comparisons
# then use the > and the swap to sort the list


l = [4,3,2,1]
k = l.copy()

for i in l:
  for j in k:
    print(i,j)

4 4
4 3
4 2
4 1
3 4
3 3
3 2
3 1
2 4
2 3
2 2
2 1
1 4
1 3
1 2
1 1

In [ ]:
# FINAL EASY WAY RECOMMENDATION



l = [4,3,2,1]


for i in range(len(l)):
  for j in range(len(l)):
      print(f"outer index {i} inner index {j} the element at i and j",[l[i],l[j]])
      # ALL YOU NEED TO DO
      # HERE 1) test which is bigger 2) swap
      # for example you could write l[i], l[j] = l[j], l[i]

      FINISH CODE

outer index 0 inner index 0 the element at i and j [4, 4]
outer index 0 inner index 1 the element at i and j [4, 3]
outer index 0 inner index 2 the element at i and j [4, 2]
outer index 0 inner index 3 the element at i and j [4, 1]
outer index 1 inner index 0 the element at i and j [3, 4]
outer index 1 inner index 1 the element at i and j [3, 3]
outer index 1 inner index 2 the element at i and j [3, 2]
outer index 1 inner index 3 the element at i and j [3, 1]
outer index 2 inner index 0 the element at i and j [2, 4]
outer index 2 inner index 1 the element at i and j [2, 3]
outer index 2 inner index 2 the element at i and j [2, 2]
outer index 2 inner index 3 the element at i and j [2, 1]
outer index 3 inner index 0 the element at i and j [1, 4]
outer index 3 inner index 1 the element at i and j [1, 3]
outer index 3 inner index 2 the element at i and j [1, 2]
outer index 3 inner index 3 the element at i and j [1, 1]

In [ ]:
len(l)

5

# Dictionaries

These are key-value pairs.

In [1]:
l = [1,2,3]
type(l)

list

In [4]:
student = {
    "name": "Petro",
    "age": 15,
    "isGoofy": True
}

student

{'name': 'Petro', 'age': 15, 'isGoofy': True}

In [5]:
student.keys()

dict_keys(['name', 'age', 'isGoofy'])

In [6]:
student.values()

dict_values(['Petro', 15, True])

In [7]:
for k in student.keys():
  print("key", k)

key name
key age
key isGoofy

In [10]:
student['address']='123 Old Street'

In [11]:
for k, v in student.items():
  print("key", k, "\tvalue", v)

key name 	value Petro
key age 	value 15
key isGoofy 	value True
key address 	value 123 Old Street

In [13]:
ela = {
    "name": "Ela",
    "age": 19,
    "isGoofy": True
}

rebecca = {
    "name": "Rebecca",
    "age": 21,
    "isGoofy": True
}


pclass = [ela, rebecca]

print(pclass)

[{'name': 'Ela', 'age': 19, 'isGoofy': True}, {'name': 'Rebecca', 'age': 21, 'isGoofy': True}]

In [18]:
for student in pclass:
  for k,v in student.items():
    print(f"{k}={v}")

name=Ela
age=19
isGoofy=True
name=Rebecca
age=21
isGoofy=True

In [20]:
ela.items()

dict_items([('name', 'Ela'), ('age', 19), ('isGoofy', True)])

In [24]:
l = ["name", "age", "isGoofy"]

dl=dict.fromkeys(l)

dl

# hint:  use update() with a list of three values

{'name': None, 'age': None, 'isGoofy': None}

# Homework

1.  Figure out how to assign values to the dictionary dl above.

2.  Create examples using 4 of these functions (not the easy ones, don't use what I already used.)

| Method         | Description                                                      |
|----------------|------------------------------------------------------------------|
| clear()        | Removes all items from the dictionary                            |
| copy()         | Returns a shallow copy of the dictionary                         |
| fromkeys()     | Creates a new dictionary from an iterable of keys                |
| get()          | Returns the value for a specified key                            |
| items()        | Returns a view object of (key, value) pairs                      |
| keys()         | Returns a view object of the dictionary’s keys                   |
| pop()          | Removes and returns the value for a specified key                |
| popitem()      | Removes and returns the last inserted (key, value) pair          |
| setdefault()   | Returns the value of a key, inserting it with a default if not present |
| update()       | Updates the dictionary with elements from another dict or iterable|
| values()       | Returns a view object of the dictionary’s values                 |