<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/advanced_functions_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Different Function Types

* Named arguments

* Self-referencing

* Variable Number of Arguments

* Lambda

* Default Values

* Yield

# Self-Referencial

In [1]:
# use the math package so we can use it to check our results

import math

# give work a default value so we don't have to supply one when we call the function

def factorial(x, work=0):

    # factorial is not defined for negative values to check that here
    assert x > 1, "number must be bigger than 1"

    if work == 0:
        work = x


    # n! = n * n - 1 , .... so subtract 1 to get the next value
    work = work - 1

    if work == 1:
        print("\nreturning", x, work)
        return x

    print(f"\nbefore x={x} work={work}", end=":")

    x = x * work

    print(f" after x={x}")

    # now call same function again with new values.  note you must use the return statement

    return factorial(x, work)

a = 9

f = factorial(a)

print(f"\n👍 results {a}!={f}")


# use Python math library to check results

print("\n✅ check", math.factorial(a))

before x=9 work=8: after x=72

before x=72 work=7: after x=504

before x=504 work=6: after x=3024

before x=3024 work=5: after x=15120

before x=15120 work=4: after x=60480

before x=60480 work=3: after x=181440

before x=181440 work=2: after x=362880

returning 362880 1

👍 results 9!=362880

✅ check 362880

Student example https://colab.research.google.com/drive/1D0k57W4XASyxga9W4b0GiUbZcqyUxW34#scrollTo=4o0wY-lS9XpM

In [15]:
# Without return on the last loop the value will be None

def countdown(n):
    if n == 0:
        print("Done!")
    if n > 0:
        print(n)
        return countdown(n - 1)
    if n < 0:
        print(n)
        return countdown(n + 1)

a=countdown(12)

print(a)

12
11
10
9
8
7
6
5
4
3
2
1
Done!
None

# Yield

In [22]:
def yield_counter(n):

  while n != 0:
    if n > 0:
        yield (n)
        n = n - 1
    if n < 0:
        yield(n)
        n = n + 1

for a in yield_counter(-15):
  print(a)

-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

# Variable Number of Arguments

In [31]:


def multiply(*n):

  work = 1

  for i in n:
    work = work * i

  return work

multiply(2,3)

6

# Lambda

In [37]:
double = lambda x : 2 * x

double(3)

6