<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/advanced_functions_homework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Different Function Types

* Named arguments

* Self-referencing

* Variable Number of Arguments

* Lambda

* Default Values

* Yield

# Name Arguments

We can pass arguments by position or name.

In [24]:
!ps -ef

UID          PID    PPID  C STIME TTY          TIME CMD
root           1       0  0 14:57 ?        00:00:00 /sbin/docker-init -- /datala
root           6       1  0 14:57 ?        00:00:01 /tools/node/bin/node /datala
root          19       6  0 14:57 ?        00:00:01 /bin/bash -e /usr/local/cola
root          21       1  0 14:57 ?        00:00:00 /bin/bash -e /datalab/run.sh
root          22      21  0 14:57 ?        00:00:00 /usr/colab/bin/kernel_manage
root          26       0  0 14:57 ?        00:00:00 tail -n +0 -F /root/.config/
root          45       0  0 14:57 ?        00:00:00 tail -n +0 -F /root/.config/
root          68       6  1 14:57 ?        00:00:18 [python3] <defunct>
root          69       6  0 14:57 ?        00:00:02 python3 /usr/local/bin/colab
root          90       6  0 14:57 ?        00:00:07 /usr/bin/python3 /usr/local/
root          91       6  0 14:57 ?        00:00:00 /usr/local/bin/dap_multiplex
root         262      90  0 14:58 ?        00:00:06 /usr/bin/python3 -m colab_ke
root        7926      19  0 15:27 ?        00:00:00 sleep 1
root        7927     262  0 15:27 ?        00:00:00 ps -ef

In [12]:
def go(x,y):

    return x, y


# this is by name
a,b = go(y=3, x=2)

# this is by position

e, f = go(3, 2)

a,b, e, f

(2, 3, 3, 2)

## Option Arguments

If you give an argument a default value then it's optional.

In [15]:
def doThis(a=None, b=None):

    # pass means do nothing
    pass


doThis()

# Self-Referencial

In [ ]:
# FIX ME

def count_to_0(n):
    if n == 0:
        print("Done!")
    if n > 0:
        print(n)
        return count_to_0(n - 1)
    if n < 0:
        print(n)
        return count_to_0(n + 1)

  a=count_to_0(5)

print(a)

In [7]:
def repeat(x, times):
    print("x=",x)
    if times > 0:
      times -= 1
      repeat(2 * x, times)

a = repeat(2,2)

print(a)

x= 2
x= 4
x= 8
None

In [52]:
# use the math package so we can use it to check our results

import math

# give work a default value so we don't have to supply one when we call the function

def factorial(x, work=0):

    # factorial is not defined for negative values to check that here
    assert x > 1, "number must be bigger than 1"

    if work == 0:
        work = x


    # n! = n * n - 1 , .... so subtract 1 to get the next value
    work = work - 1

    if work == 1:
        print("\nreturning", x, work)
        return x

    print(f"\nbefore x={x} work={work}", end=":")

    x = x * work

    print(f" after x={x}")

    # now call same function again with new values.  note you must use the return statement

    return factorial(x, work)

a = 5




f = factorial(a)

print(f"\n👍 results {a}!={f}")


# use Python math library to check results

print("\n✅ check", math.factorial(a))

before x=5 work=4: after x=20

before x=20 work=3: after x=60

before x=60 work=2: after x=120

returning 120 1

👍 results 5!=120

✅ check 120

Student example https://colab.research.google.com/drive/1D0k57W4XASyxga9W4b0GiUbZcqyUxW34#scrollTo=4o0wY-lS9XpM

In [40]:
# Without return on the last loop the value will be None

def countdown(n):

    assert type(n) == int, "argument must be an integer"

    if n == 0:
        print("Done!")
    if n > 0:
        print(n)
        return countdown(n - 1)
    if n < 0:
        print(n)
        return countdown(n + 1)

a=countdown(12.2)

print(a)

AssertionError: argument must be an integer

# Yield

* return leaves the function and you're done.  it returns a value

* yield leave the function and goes back

In [27]:
# it's not very useful to have a function that just prints values
# normally you want it to do something, like calculate

def count_to_0r(n):
    if n == 0:
        print("Done!")
    if n > 0:
        print(n)
        return count_to_0r(n - 1)
    if n < 0:
        print(n)
        return count_to_0r(n + 1)

count_to_0r(5)

5
4
3
2
1
Done!

In [26]:

# return a value for every loop (ieration in the loop)

def yield_counter(n):

  while n != 0:
    if n > 0:
        yield (n)
        n = n - 1
    if n < 0:
        yield(n)
        n = n + 1

# so you get access to each value
for a in yield_counter(5):
  print(a)

5
4
3
2
1

In [25]:
l = [1, 2, 3]

for i in l:
  print(i)

1
2
3

# Variable Number of Arguments

In [28]:

# * means variable number of

def multiply(*n):

  # need some initial value.  I use 1 because 1 * anything = the same value
  work = 1

  for i in n:
    work = work * i

  return work


multiply(2,3,4,5,6,7)

5040

In [34]:
! python hello.py first second

2

# Lambda

If we right a function like double:

```
def double(x):

  return 2 * x

```

to run it you would put:

```
double(2)
```

Lambda means an in-line functin or autonomous function.
It just means short

In [35]:
double = lambda x : 2 * x

double(3)

6

In [37]:
triple = lambda x : 3 * x

triple(3)

9

# Built In Functions

In [38]:
# import
import math

math.log(10)

2.302585092994046

# Homework

1.  Take the factorial program and make it an adder().  Like an adding machine. (See hints below).

adder([1,2,3]) <----this is a list


2.  Write a lambda function

3.  Write a function with a variable number of arguments.

4.  Write a function with named arguments.  


5.  Write a function using yield.

In [43]:
# to go through a list you do this:

# adding and factorial both you can do by self-referential, meaning using the sanme tool
# over and over


l = [1,2,3]

for i in l:
  print(i)

1
2
3

In [47]:
n = 3

while(n > 0):
  print(n)
  n = n - 1

3
2
1

In [51]:
# lists

l[1:3]

[2, 3]

In [53]:
# adding letters
# concatenation


"a" + "b" + "c"

'abc'