<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/diana_bank_system_step_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [24]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [25]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [26]:
%sql sqlite:////content/drive/MyDrive/bank.db/

In [27]:
%sql PRAGMA foreign_keys = ON;

 * sqlite:////content/drive/MyDrive/bank.db/
Done.

[]

In [28]:
%%sql
drop table withdraws

 * sqlite:////content/drive/MyDrive/bank.db/
Done.

[]

In [29]:
%%sql
drop table deposits

 * sqlite:////content/drive/MyDrive/bank.db/
Done.

[]

In [30]:
%%sql
drop table account

 * sqlite:////content/drive/MyDrive/bank.db/
Done.

[]

In [31]:
#VIEW THE TABLE

%%sql

SELECT * FROM account

 * sqlite:////content/drive/MyDrive/bank.db/
(sqlite3.OperationalError) no such table: account
[SQL: SELECT * FROM account]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [32]:
#VIEW THE TABLE

%%sql

SELECT * FROM withdraws

 * sqlite:////content/drive/MyDrive/bank.db/
(sqlite3.OperationalError) no such table: withdraws
[SQL: SELECT * FROM withdraws]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [33]:
#VIEW THE TABLE

%%sql

SELECT * FROM deposits

 * sqlite:////content/drive/MyDrive/bank.db/
(sqlite3.OperationalError) no such table: deposits
[SQL: SELECT * FROM deposits]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [34]:
# CREATE THE ACCOUNT TABLE

import sqlite3

db_path = '/content/drive/MyDrive/bank.db'

conn = sqlite3.connect(db_path)

conn.execute('PRAGMA foreign_keys = ON')

cursor = conn.cursor()

create_account_table = '''
CREATE TABLE account
  (
    account_number INTEGER PRIMARY KEY AUTOINCREMENT,
    account_name TEXT,
    date_of_birth TEXT,
    address TEXT,
    phone_number INTEGER,
    balance INTEGER
  )
'''

try:
    cursor.execute(create_account_table)
except Exception as e:
    print(e)

conn.commit()
conn.close()

In [35]:
%%sql
INSERT INTO account (account_name, date_of_birth, address, phone_number, balance)
VALUES ('John Smith', '1985-06-15', '123 Elm St, Springfield', 4298918, 1500);

 * sqlite:////content/drive/MyDrive/bank.db/
1 rows affected.

[]

In [36]:
%%sql
INSERT INTO account (account_name, date_of_birth, address, phone_number, balance)
VALUES ('Maria Williams', '2000-01-13', '789 Green Lane, Lakeview', 69824541, 973)

 * sqlite:////content/drive/MyDrive/bank.db/
1 rows affected.

[]

In [37]:
%%sql
INSERT INTO account (account_name, date_of_birth, address, phone_number, balance)
VALUES ('Alice Johnson', '1990-09-25', '456 Oak Ave, Rivertown', 5308421, 3200);

 * sqlite:////content/drive/MyDrive/bank.db/
1 rows affected.

[]

In [178]:
%%sql
INSERT INTO account (account_name, date_of_birth, address, phone_number, balance)
VALUES ('Michael Brown', '1978-03-30', '789 Pine Rd, Lakeside', 9152835, 800);

 * sqlite:////content/drive/MyDrive/bank.db/
1 rows affected.

[]

In [39]:
# CREATE TABLE WITHDRAWS

import sqlite3

db_path = '/content/drive/MyDrive/bank.db'

conn = sqlite3.connect(db_path)

conn.execute('PRAGMA foreign_keys = ON')

cursor = conn.cursor()

create_withdraws_table = '''
CREATE TABLE withdraws
  (
    withdraw_id INTEGER PRIMARY KEY AUTOINCREMENT,
    account_number INTEGER,
    withdraw_date TEXT,
    withdraw_amount INTEGER,
    FOREIGN KEY (account_number) REFERENCES account(account_number)
  )
'''

try:
    cursor.execute(create_withdraws_table)

except Exception as e:
    print(e)

conn.commit()

conn.close()

In [40]:
%%sql
INSERT INTO withdraws (account_number, withdraw_date, withdraw_amount)
VALUES (2, strftime('%s', 'now'), 500);

UPDATE account
SET balance = balance - 500
WHERE account_number = 2

 * sqlite:////content/drive/MyDrive/bank.db/
1 rows affected.
1 rows affected.

[]

In [41]:
%%sql
INSERT INTO withdraws (account_number, withdraw_date, withdraw_amount)
VALUES (4, strftime('%s', 'now'), 291);

UPDATE account
SET balance = balance - 291
WHERE account_number =  4

 * sqlite:////content/drive/MyDrive/bank.db/
1 rows affected.
1 rows affected.

[]

In [42]:
%%sql
INSERT INTO withdraws (account_number, withdraw_date, withdraw_amount)
VALUES (1, strftime('%s', 'now'), 2000);

UPDATE account
SET balance = balance - 2000
WHERE account_number = 1

 * sqlite:////content/drive/MyDrive/bank.db/
1 rows affected.
1 rows affected.

[]

In [43]:
#CREATE THE DEPOSITS TABLE

import sqlite3

db_path = '/content/drive/MyDrive/bank.db'
conn = sqlite3.connect(db_path)

conn.execute('PRAGMA foreign_keys = ON')

cursor = conn.cursor()

create_deposits_table = '''
CREATE TABLE deposits
  (
    deposit_id INTEGER PRIMARY KEY AUTOINCREMENT,
    account_number INTEGER,
    deposit_date TEXT,
    deposit_amount INTEGER,
    FOREIGN KEY (account_number) REFERENCES account(account_number)
  )
'''

try:
    cursor.execute(create_deposits_table)
except Exception as e:
    print(e)

conn.commit()

conn.close()

In [44]:
%%sql
INSERT INTO deposits (account_number, deposit_date, deposit_amount)
VALUES (1, strftime('%s', 'now'), 297);

UPDATE account
SET balance = balance + 297
WHERE account_number = 1

 * sqlite:////content/drive/MyDrive/bank.db/
1 rows affected.
1 rows affected.

[]

In [45]:
%%sql
INSERT INTO deposits (account_number, deposit_date, deposit_amount)
VALUES (3, strftime('%s', 'now'), 7612);

UPDATE account
SET balance = balance + 7612
WHERE account_number = 3

 * sqlite:////content/drive/MyDrive/bank.db/
1 rows affected.
1 rows affected.

[]

In [46]:
%%sql
INSERT INTO deposits (account_number, deposit_date, deposit_amount)
VALUES (4, strftime('%s', 'now'), 100);

UPDATE account
SET balance = balance + 100
WHERE account_number = 4

 * sqlite:////content/drive/MyDrive/bank.db/
1 rows affected.
1 rows affected.

[]

In [75]:
import random



def getName():

    fnames = ["Marya", "Diana", "Oleskii", "Yulia", "Illias", "Vlad", "Egor"]

    lnames = ["Zelensky", "Kovalenko", "Kravchenko", "Hrytsenko", "Melnyk"]

    return fnames[random.randint(0, len(fnames)-1)] +  " " + lnames[random.randint(0, len(lnames)-1)]

def getDate():

  from datetime import datetime, timedelta

  d = datetime.now() + timedelta(days=random.randint(-10,10))

  return d.strftime('%Y-%m-%d')

In [170]:
getName()

'Yulia Zelensky'

In [171]:
getDate()

'2024-10-11'

In [112]:
import sqlite3

db_path = '/content/drive/MyDrive/bank.db'
conn = sqlite3.connect(db_path)

conn.execute('PRAGMA foreign_keys = ON')


for i in range(10):
  generateAccounts(conn)
  for j in range (10):
    generateTransactions(conn)


#don't commit yet.  You will see we only do that when we have completed what is called a transaction
#conn.commit()


# don't close connection until the end
conn.close()

In [154]:
# complete this.  the conn object is alive.  all you need to do is create accounts

# see below where I show "here is now to build a dynamic SQL statement"

def generateAccounts(conn):

  pass

# complete this.  same thing.  create transactions

def generateTransactions(conn):

  pass

In [134]:

def getRandomAccount(conn):


  cursor = conn.cursor()

  sql="select account_number from account"

  cursor.execute(sql)

  accounts=cursor.fetchall()

  return accounts[random.randint(0,len(accounts)-1)][0]

In [184]:
getRandomAccount(conn)

7

In [169]:
# here is now to build a dynamic SQL statement




aa=str(getRandomAccount(conn))
bb=getDate()
cc=str(random.randint(1, 5000))



sql="INSERT INTO deposits (account_number, deposit_date, deposit_amount (VALUES ({}, {}, {})".format(aa,bb,cc)



sql

'INSERT INTO deposits (account_number, deposit_date, deposit_amount (VALUES (2, 2024-10-12, 588)'

In [ ]:
#INSERT INTO deposits (account_number, deposit_date, deposit_amount)
#VALUES (1, strftime('%s', 'now'), 297);