<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/diana-project_15_12_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd

# URL of the CSV file
data_url = "https://raw.githubusercontent.com/werowe/HypatiaAcademy/master/class/DP_LIVE_05122023161331688.csv"

# Read the data into a pandas DataFrame
df = pd.read_csv(data_url)

In [37]:
df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUT,CPI,FOOD,AGRWTH,M,2022-10,14.37008,NaN
1,AUT,CPI,FOOD,AGRWTH,M,2022-11,15.21099,NaN
2,AUT,CPI,FOOD,AGRWTH,M,2022-12,16.09756,NaN
3,AUT,CPI,FOOD,AGRWTH,M,2023-01,16.99219,NaN
4,AUT,CPI,FOOD,AGRWTH,M,2023-02,16.15970,NaN
...,...,...,...,...,...,...,...,...
1683,EU27_2020,CPI,TOT_FOODENRG,AGRWTH,M,2023-06,6.20000,NaN
1684,EU27_2020,CPI,TOT_FOODENRG,AGRWTH,M,2023-07,6.20000,NaN
1685,EU27_2020,CPI,TOT_FOODENRG,AGRWTH,M,2023-08,5.90000,NaN
1686,EU27_2020,CPI,TOT_FOODENRG,AGRWTH,M,2023-09,5.10000,NaN
1687,EU27_2020,CPI,TOT_FOODENRG,AGRWTH,M,2023-10,4.80000,NaN

In [38]:
df['priceInDollars']=0
df['dateObject']=0

In [39]:
df.columns

Index(['LOCATION', 'INDICATOR', 'SUBJECT', 'MEASURE', 'FREQUENCY', 'TIME',
       'Value', 'Flag Codes', 'priceInDollars', 'dateObject'],
      dtype='object')

In [40]:
df

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes,priceInDollars,dateObject
0,AUT,CPI,FOOD,AGRWTH,M,2022-10,14.37008,NaN,0,0
1,AUT,CPI,FOOD,AGRWTH,M,2022-11,15.21099,NaN,0,0
2,AUT,CPI,FOOD,AGRWTH,M,2022-12,16.09756,NaN,0,0
3,AUT,CPI,FOOD,AGRWTH,M,2023-01,16.99219,NaN,0,0
4,AUT,CPI,FOOD,AGRWTH,M,2023-02,16.15970,NaN,0,0
...,...,...,...,...,...,...,...,...,...,...
1683,EU27_2020,CPI,TOT_FOODENRG,AGRWTH,M,2023-06,6.20000,NaN,0,0
1684,EU27_2020,CPI,TOT_FOODENRG,AGRWTH,M,2023-07,6.20000,NaN,0,0
1685,EU27_2020,CPI,TOT_FOODENRG,AGRWTH,M,2023-08,5.90000,NaN,0,0
1686,EU27_2020,CPI,TOT_FOODENRG,AGRWTH,M,2023-09,5.10000,NaN,0,0
1687,EU27_2020,CPI,TOT_FOODENRG,AGRWTH,M,2023-10,4.80000,NaN,0,0

In [41]:
# to convert euros to dollars multiple x 1.07

# so 1 euros is 1.07 dollars

In [42]:
# use this to convert euros to USD


import requests

base_currency = 'EUR'
target_currency = 'USD'
# Make a request to the Open Exchange Rates API
url = f'https://open.er-api.com/v6/latest/{base_currency}'
response = requests.get(url)
# Check if the request was successful (status code 200)
if response.status_code == 200:
    data = response.json()
    exchange_rate = data['rates'][target_currency]
    print(f'1 {base_currency} = {exchange_rate} {target_currency}')
else:
    print(f'Error: Unable to fetch exchange rates. Status code: {response.status_code}')

1 EUR = 1.096961 USD

In [43]:
exchange_rate

1.096961

In [44]:
1/exchange_rate

0.9116094373455391

In [45]:
# make a class called Price

from datetime import datetime



class Price:

  #price=Price(country,dateText,priceInEuros)

  #priceInDollars=0.    # < df['value'] * theNumberfromtheAPI (dollars per euro)
  #priceInEuros=0
  #date = date()

  #county="AUT"


  # define the constructor

  # FIX THE CONSTRUCTOR


  def __init__(self, country , dateText , priceInEuros):
        self.country = country
        self.dateText = dateText
        self.priceInEuros = priceInEuros

  # def setPriceinDollars(self,priceInEuros):
  def getPriceinDollars(self,exchange_rate):
    return self.priceInEuros / exchange_rate


  def doublePrice(self):
    return 2 * self.priceInEuros



  def convertYYYYMMtoDateobject(self):


   #input_date_str = '2022-10'

   input_date = datetime.strptime(self.dateText, '%Y-%m')

   output_date = input_date.replace(day=1)

   return output_date

#don't do this because it converts it back a string.   it was a string
# to begin with.  the goal was to make it a date object

   #output_date_str = output_date.strftime('%Y-%m-%d')

   #print(output_date_str)

In [46]:
df.info

<bound method DataFrame.info of        LOCATION INDICATOR       SUBJECT MEASURE FREQUENCY     TIME     Value  \
0           AUT       CPI          FOOD  AGRWTH         M  2022-10  14.37008
1           AUT       CPI          FOOD  AGRWTH         M  2022-11  15.21099
2           AUT       CPI          FOOD  AGRWTH         M  2022-12  16.09756
3           AUT       CPI          FOOD  AGRWTH         M  2023-01  16.99219
4           AUT       CPI          FOOD  AGRWTH         M  2023-02  16.15970
...         ...       ...           ...     ...       ...      ...       ...
1683  EU27_2020       CPI  TOT_FOODENRG  AGRWTH         M  2023-06   6.20000
1684  EU27_2020       CPI  TOT_FOODENRG  AGRWTH         M  2023-07   6.20000
1685  EU27_2020       CPI  TOT_FOODENRG  AGRWTH         M  2023-08   5.90000
1686  EU27_2020       CPI  TOT_FOODENRG  AGRWTH         M  2023-09   5.10000
1687  EU27_2020       CPI  TOT_FOODENRG  AGRWTH         M  2023-10   4.80000

      Flag Codes  priceInDollars  dateObject
0            NaN               0           0
1            NaN               0           0
2            NaN               0           0
3            NaN               0           0
4            NaN               0           0
...          ...             ...         ...
1683         NaN               0           0
1684         NaN               0           0
1685         NaN               0           0
1686         NaN               0           0
1687         NaN               0           0

[1688 rows x 10 columns]>

In [47]:
# we need a way to loop through every row in the dataframe.  because we want to convert every row
# to a class. so we can use the iterrows() method


for _, row in df.iterrows():

    # so it is easy to convert a dictionary to a call

    priceDict=row.to_dict()
    #print(row.to_dict())

    # look at diana's example
    #telsa = Cars("blue", "")

    # here create a price object

    priceInEuros=priceDict['Value']
    #print(priceInEuros)

    # we need to get yearMonth

    # we need to get country

    country = priceDict['LOCATION']
    dateText = priceDict['TIME']



    # HERE WE CREATE THE PRICE OBJECT


    price=Price(country,dateText,priceInEuros)

In [48]:
price.priceInEuros

4.8

In [49]:
exchange_rate

1.096961

In [50]:
price.getPriceinDollars(exchange_rate)

4.375725299258588

In [51]:
price.convertYYYYMMtoDateobject()

datetime.datetime(2023, 10, 1, 0, 0)

In [52]:
from datetime import datetime

input_date_str = '2022-10'

input_date = datetime.strptime(input_date_str, '%Y-%m')

print(type(input_date))

<class 'datetime.datetime'>