<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/homework_parent_child_explained.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///random.db

In [4]:
# you need some common element to link two tables

%%sql

CREATE TABLE parent
  (
    parent_id INTEGER PRIMARY KEY AUTOINCREMENT,
    parent_name text,
    date_created text
  );

CREATE TABLE child
  (
    child_id INTEGER PRIMARY KEY AUTOINCREMENT,
    parent_id INTEGER,
    child_name text,
    date_created text
  );

 * sqlite:///random.db
Done.
Done.

[]

In [5]:
%%sql
insert into parent(parent_name, date_created) values("fred", "2024-10-08");
insert into parent(parent_name, date_created) values("jane", "2024-10-08");

 * sqlite:///random.db
1 rows affected.
1 rows affected.

[]

In [6]:
%%sql
select * from parent

 * sqlite:///random.db
Done.

[(1, 'fred', '2024-10-08'), (2, 'jane', '2024-10-08')]

In [ ]:
%%sql
insert into child(parent_id, child_name, date_created) values(1, "oleskii", "2024-10-08");
insert into child(parent_id, child_name, date_created) values(1, "Egor", "2024-10-08");

 * sqlite:///random.db
1 rows affected.
1 rows affected.

[]

In [13]:
%%sql
select * from child

 * sqlite:///random.db
Done.

[(1, 1, 'Egor', '2024-10-08')]

In [27]:
# hard-coded usually means BAD
# generate lots of data.  so we will use python to generate data

#insert into child(parent_id, child_name, date_created) values(1, "Egor", "2024-10-08");


# Homework:  fix this to work with your data


def createChild():

  sql="insert into child(parent_id, child_name, date_created) values({}, '{}', '{}')".format(1, getName(), "2024-10-08")

  return sql

In [32]:
createChild()

"insert into child(parent_id, child_name, date_created) values(1, 'Marya Hrytsenko', '2024-10-08')"

In [12]:
# boilerplate code, means just a shell, it means the code that the will be the same every time


import sqlite3

db_path = 'random.db'

# connect to it
conn = sqlite3.connect(db_path)

# a cursor lets you work with data
cursor = conn.cursor()

# this means run SQL
cursor.execute(createChild(conn))

# commit means apply the changes
conn.commit()


# don't close until we have added lots of data
conn.close()

In [10]:
type(conn)

sqlite3.Connection

In [16]:
import random

# we want to make random data

def getName():

    fnames = ["Marya", "Diana", "Oleskii", "Yulia", "Illias", "Vlad", "Egor"]

    lnames = ["Zelensky", "Kovalenko", "Kravchenko", "Hrytsenko", "Melnyk"]

    return fnames[random.randint(0, len(fnames)-1)] +  " " + lnames[random.randint(0, len(lnames)-1)]

In [17]:
getName()

'Egor Kovalenko'

In [26]:
# scope.

fnames = ["Marya", "Diana", "Oleskii", "Yulia", "Illias", "Vlad", "Egor"]

fnames[random.randint(0,len(fnames) - 1 )]

'Diana'


#Homework

Goals are:

1.  learn how to make random data and put in parent table

2.  (for next time) learn how to write to child table

Study the code above and modify it to work with your data.  So only worry about the parent table.


1.  The code above shows how to connect to a database and add one record. And the SQL statement is created by a function.




Don't hard-code it.  Do something like this:

```
def createChild():

  sql="insert into child(parent_id, child_name, date_created) values({}, '{}', '{}')".format(1, getName(), "2024-10-08")

  return sql
```